a:hover{text-decoration: none;}
li{list-style: none;}
/* ---------------------------------------------------
    FILTER SIDEBAR STYLE
----------------------------------------------------- */
#filter-sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #868686;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#filter-sidebar.active {
    left: 0;
}
#filter-sidebar .section, #filter-subjects-sidebar .section{
    padding: 0 20px;
    border-bottom: 1px solid #e2dddd;
}
#filter-sidebar .select-section.section{
    padding: 10px 20px;
    padding-right: 5px;
    border-bottom: 1px solid #e2dddd;
}
#filter-sidebar .select2-container--default .select2-selection--single{border: none;}
#filter-sidebar .select2-container--default .select2-selection--single:focus{outline: none;box-shadow: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #868686;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: #1abc9c !important;color: #fff !important;}
#select2-filter_select_tution_fee-results{padding: 10px;}
#select2-filter_select_tution_fee-results li{
    display: inline-block;
    width: 30.3333%;
    border: 1px solid #1abc9c;
    border-radius: 25px;
    margin: 6px 1%;
    font-size: 12px;
    color: #868686;
}
.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above{border: 1px solid #aaa;}
#select2-filter_select_tution_fee-results li:hover{
    color: #fff;
}    
#select2-filter_select_tution_fee-results .select2-results__option[aria-selected=true]{
    background: #1abc9c;
    color: #fff;
}
#filter-sidebar h3.section,
#filter-subjects-sidebar h3.section{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #868686;
    margin-top: 30px;
    padding: 15px 20px !important;
}
#filter-sidebar .section strong{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    padding-top: 15px;
}
#filter-sidebar .section small{
    display: block;
    font-size: 12px;
    padding-bottom: 15px;    
}
#filter-sidebar select{
    width: 280px !important;
}
#filter-sidebar label{
    font-size: 12px;
    font-weight: 600;
    display: block;
}
.filter_subject_section span{padding-left: 8px;display: block;cursor: pointer;}
#filter-subjects-sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
}

#filter-subjects-sidebar.active {
    left: 0;
}

#dismiss-filter-sidebar, #dismiss-filter-students-sidebar {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    text-align: center;
    border:1px solid #1abc9c;
    position: absolute;
    color: #1abc9c;
    top: 10px;
    font-size: 18px;
    font-weight: 400;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#dismiss-filter-sidebar:hover, #dismiss-filter-students-sidebar:hover {
    background: #1abc9c;
    color: #fff;
}    
.filter-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}
#filter-subjects{border: none;color: #868686;padding-left: 8px;padding-right: 20px;cursor: pointer;width: 100%;}
#filter-subjects:focus{outline: 0;box-shadow: none;}
#filter-subjects-sidebar ul{padding: 0;}
#filter-subjects-sidebar{border: 1px solid #e4e4e4}
#filter-subjects-sidebar li{list-style: none;border-bottom: 1px solid #ded9d9;color: #868686;text-align: center;padding: 12px 0;font-size: 15px;cursor: pointer;}
#filter-subjects-sidebar li:hover{background: #f6f5f5;}
#filter-subjects-sidebar li.active{background: #f6f5f5;}
.filter-btn{margin-top: 30px;}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.btn-univhub{
    background: #fff;
    border: 1px solid #1abc9c;
    border-radius: 25px;
    padding: 6px 22px;
    color: #1abc9c;
}
.filter-menu .dropdown-menu{left: -30px;top: 112%;}
.filter-menu .dropdown-menu:after{border-bottom: 10px solid #fff;border-left: 10px solid transparent;border-right: 10px solid transparent;content: '';position: absolute;left: 50%;transform:translateX(-50%);top: -10px; }
button:focus{box-shadow: none;outline: 0 !important;}
.btn-univhub:hover, .btn-univhub:focus{background: #1abc9c;color: #fff;}
.filter-menu{background: #D1D1D1;padding: 20px;margin-top: 20px;}
.universities{margin-top:30px;padding:0;}
.universities > li{border-bottom: 1px solid #d8d8d8;padding:30px 20px;list-style: none;}
.universities > li:hover{background:#f7f7f7;}
.universities h3{color:#868686;font-size:21px;margin:0px;font-weight: 600;}
.universities > li > a{padding:20px;border-bottom:1px solid #cfcece;margin:0 5px;}
.universities .universities-image img{border-radius:50%;height:150px;margin-top:40px;}
.universities .country-flag{height:10px;margin-right:10px;}
.universities .universities-image{margin-right:20px;width:20%;}
.universities .univ-details{width:76%;}
.universities .universities-details-ques{padding:0;margin-bottom:20px;padding-right:50px;}
.universities .universities-details-ques span{font-size:13px;font-weight:600;margin-bottom:6px;display:block;color:#868686;}
.universities .universities-details-text{font-size:12px;color:#868686;font-weight:400;}
.universities .universities-details-text:before{content:"-";margin-right:8px;}
.universities .universities-details-location{font-size:12px;color:#686666;}
.universities .univ-details-btns{width:auto;}
.universities .univ-details-btns .btn{padding:9px 26px;font-size:15px;display:block;}
.universities .univ-details-btns span{margin:0;margin-bottom:10px;}
.universities .univ-details-btns del, .universities .univ-details-btns b{display:block;color:#686666;}
.universities .univ-details strong{font-size: 13px;font-weight: 600;display:inline-block;margin:5px 0;color: #868686;}
.universities small{color:#868686;font-size: 14px;}
.universities .univ-title{margin-bottom:20px;}
.universities .univ-intro{margin-bottom:15px;padding-right:50px;}
.univ-details-btns .btn {padding: 4px 26px !important;font-size: 15px;display: block;background: transparent;border-radius: 25px;border: 1px solid #1abc9c;color: #1abc9c;}
.univ-details-btns .btn:hover{background: #1abc9c;color: #fff;}
.univ-details a{font-size: 12px;color: #868686;border: 1px solid #c6bebe;border-radius: 25px;padding: 0 12px;background: #f1ecec;margin-left: 20px;display:inline-block;}
.univ-details a:hover{background: #c6bebe;color:#fff;}