
.univ-dash .nav-tabs{border: none;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);padding: 10px 30px;}
.univ-dash .nav-tabs>li.active>a, .univ-dash .nav-tabs>li.active>a:focus, .univ-dash .nav-tabs>li.active>a:hover{border: none;border-bottom: 2px solid #1abc9c;background: transparent;}
.univ-dash .nav>li>a:focus, .univ-dash .nav>li>a:hover{background: transparent;border-bottom: 2px solid #1abc9c;}
.univ-dash .nav-tabs>li>a{border: none;border-bottom: 2px solid transparent;color: #868686;}

.univ-dash .universities{margin-top:30px;padding:0;padding:0 30px;}
.univ-dash .universities > li{border: 1px solid #d8d8d8;padding:30px 20px;list-style: none;margin-bottom: 10px;position: relative;}
/* .univ-dash .universities > li:hover{background:#f7f7f7;} */
.univ-dash .universities h3{color:#5b5a5a;font-size:21px;margin:0px;font-weight: 600;}
.univ-dash .universities > li > a{padding:20px;border-bottom:1px solid #cfcece;margin:0 5px;}
.univ-dash .universities .universities-image img{border-radius:50%;height:150px;margin-top:40px;}
.univ-dash .universities .country-flag{height:10px;margin-right:10px;}
.univ-dash .universities .universities-image{margin-right:20px;width:20%;}
.univ-dash .universities .univ-details{width:76%;}
.univ-dash .universities .universities-details-ques{padding:0;margin-bottom:20px;padding-right:50px;}
.univ-dash .universities .universities-details-ques span{font-size:13px;font-weight:600;margin-bottom:6px;display:block;color:#868686;}
.univ-dash .universities .universities-details-text{font-size:12px;color:#868686;font-weight:400;list-style: none;}
.univ-dash .universities .universities-details-text:before{content:"-";margin-right:8px;}
.univ-dash .universities .universities-details-location{font-size:12px;color:#686666;}
.univ-dash .universities .univ-details-btns{width:auto;}
.univ-dash .universities .univ-details-btns .btn{padding:9px 26px;font-size:15px;display:block;}
.univ-dash .universities .univ-details-btns span{margin:0;margin-bottom:10px;}
.univ-dash .universities .univ-details-btns del, .universities .univ-details-btns b{display:block;color:#686666;}
.univ-dash .universities .univ-details strong{font-size: 13px;font-weight: 600;display:inline-block;margin:5px 0;color: #868686;}
.univ-dash .universities small{color:#868686;font-size: 14px;}
.univ-dash .universities .univ-title{margin-bottom:20px;}
.univ-dash .universities .univ-intro{margin-bottom:15px;padding-right:50px;}
.univ-dash .univ-details-btns .btn {padding: 4px 26px !important;font-size: 15px;display: block;background: transparent;border-radius: 25px;border: 1px solid #1abc9c;color: #1abc9c;}
.univ-dash .univ-details-btns .btn:hover{background: #1abc9c;color: #fff;}
.univ-dash .univ-details a{font-size: 12px;color: #868686;border: 1px solid #c6bebe;border-radius: 25px;padding: 0 12px;background: #f1ecec;margin-left: 20px;display:inline-block;}
.univ-dash .univ-details a:hover{background: #c6bebe;color:#fff;}
.univ-dash .univ-stats{position: absolute;right: 45px;bottom: 31px;}
.univ-dash .univ-stats button{border: none;background: transparent;font-size: 13px;}
.univ-dash .univ-stats strong{color:#565656 !important;font-size: 12px !important;}


/* Course Applied */
.univ-course-applied h5{text-align: center;color: #666666;font-size: 20px;margin: 36px 0;margin-bottom: 50px;}
.univ-course-applied .course-view{border:1px solid #d7d8d9;padding: 10px;margin-bottom: 30px;min-height: 339px;}
.univ-course-applied .course-view-title{font-size: 16px;color: #868686;font-weight: 600;margin: 0;margin-bottom: 18px;}
.univ-course-applied .course-view-details{padding: 0;padding-left:10px;}
.univ-course-applied .course-view-details li{font-size: 14px;color: #5d5b5b;margin-bottom: 6px;list-style: none;}
.univ-course-applied .btn-univhub{float: right;margin-top: 20px;font-size: 11px;padding: 4px 12px;background: #fff;border: 1px solid #1abc9c;border-radius: 25px;color: #1abc9c;}
.univ-course-applied .btn-univhub:hover, .univ-course-applied .btn-univhub:focus{background: #1abc9c;border: 1px solid #1abc9c;color: #fff;}
.univ-dash #applying .univ-stats{position: static;}
/* Course Applied */

/* Offer Letter Received */
#offer-letter-received{margin-top: 30px;}
.offer-letter{border: 1px solid #ded9d9;padding: 20px;position: relative;}
.offer-letter .docs-received {padding: 0 60px;}
.offer-letter .docs-received .doc{width: 215px;}
.offer-letter .docs-received .doc{border: 1px solid #ded9d9;padding: 8px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);    margin-top: 30px;}
.offer-letter .docs-received .doc-object{overflow: hidden;border: 1px solid #ded9d9;}
.offer-letter .docs-received .doc-object object{max-width: 100%;}
.offer-letter .docs-received .doc .doc-status img{position: absolute;right: 2px;top: 18px;background: #fff;height: 35px;width: 35px;border-radius: 50%;border:1px solid #ded9d9;padding: 5px;}
.offer-letter .docs-received .doc .doc-detail{padding: 10px;min-height: 50px;padding-top: 20px;}
.offer-letter .docs-received .doc .doc-detail p{margin: 0;color: #868686;font-size: 12px;float: left;width: 70%;white-space: nowrap;margin-top: 3px;}
.offer-letter .docs-received .doc .doc-detail > div{float: right;width: 30%;}
.offer-letter .docs-received .doc .doc-detail > div a{float: right;}
.offer-letter .docs-received .doc .doc-detail > div img{height: 22px;margin-left:5px;opacity: 0.6;}
.offer-letter .docs-received .doc .doc-detail > div img:last-child{margin-right: 0px;}
.offer-letter h3 {color: #5b5a5a;font-size: 21px;margin: 0px;font-weight: 600;}
.offer-letter .univ-title {margin-bottom: 20px;}
.offer-letter .country-flag {height: 10px;margin-right: 10px;}
.offer-letter .docs-received p{color: #868686;margin: 15px 0;margin-bottom: 30px;}
.offer-letter .docs-received p strong{font-size: 12px;}
.offer-letter .docs-received p small{font-size: 12px;}
.offer-letter .btn-univhub{padding: 8px 26px !important;font-size: 15px;display: block;background: transparent;border-radius: 25px;border: 1px solid #1abc9c;color: #1abc9c;}
.offer-letter .btn-univhub:hover{background: #1abc9c;color: #fff;}
.offer-letter .congrats-img{position: absolute;right: 34px;top: 18px;height: 150px;}
/* Offer Letter Received */