.country-choose{padding: 30px;}
.country-choose h3{text-align: center;font-weight: 600;margin-bottom: 40px;}
.country-choose .student-progress{position: relative;width:50%;}
.country-choose .student-progress canvas{position: relative;z-index: 99;transform: translateX(-50%);left: 50%;}
.country-choose .student-progress .country-image{height: 160px;position: absolute;left: 0px;top: 0px;border-radius: 50%;transform: translateX(-50%);left: 50%;}
.country-choose .student-progress .country-name{color: #414041;font-size: 17px;font-weight:600;padding: 0 5px;display: block;text-align: center;margin-top: 15px;}
.country-choose .next-prev {margin-top: 40px;padding: 0 30px;}
.country-choose .next-prev span{margin: 0 15px;color: #1abc9c;font-size: 17px;}
.country-choose .next-prev span i{margin: 0 10px;color: #1abc9c;font-size: 25px;position: relative;top: 3px;}