/* Common */
button:focus{outline: 0;box-shadow: none;}
.card {background: #ffffff;padding: 20px;}
label {font-weight: 400;margin-bottom: 6px !important;color: #868686;}
.form-control {display: block;width: 100%;height: 40px;padding: 6px 12px;font-size: 14px;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-group{margin-bottom: 30px;position: relative;}
.form-group.multi-inputs{margin-top: 35px;}
.form-group.multi-inputs .multi-input {position: relative;margin-bottom: 10px;}
.form-group.multi-inputs label.control-label{margin-bottom: 25px !important;}
.form-group.multi-inputs button{position: absolute;right: 3px;top: -10px;height: 40px;width: 40px;border:1px solid #1abc9c;color: #1abc9c;background: #fff;border-radius: 50%;font-size: 22px;z-index: 99;}
.form-group.multi-inputs button:hover, .form-group.multi-inputs button:focus{color: #fff;background: #1abc9c;}
.btn-add{height: 40px;border:1px solid #1abc9c;color: #1abc9c;background: #fff;border-radius: 25px;font-size: 14px;z-index: 99;}
.btn-add:hover, .btn-add:focus{color: #fff;background: #1abc9c;}
.form-control:focus{box-shadow: none;border-color: #1abc9c;}
textarea.form-control {min-height: 150px;resize: vertical;width: 100% !important;}
#upload-univ-logo{display: none;}
.btn-upload {background: #1abc9c;color: #fff;height: 32px;line-height: 12px;text-transform: none;border-radius: 0px;}
.btn-upload:hover, .btn-upload:focus {background: #10a084;color: #fff;}
.inputfile {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.inputfile + label {width: 100%;text-overflow: ellipsis;white-space: nowrap;cursor: pointer;display: inline-block;overflow: hidden;position: relative;}
.inputfile + label .btn-upload{position: absolute;right:0 ;top: 0;height: 40px;line-height: 21px;}
.inputfile + label .inputfile-name {width: 100%;height: 40px;border-bottom: 1px solid #ded9d9;display: inline-block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding-top: 13px;padding-left: 12px;}
.form-group.multi-inputs button.remove-upload-univ-images{background:#e53935;color:#fff;border-color:#e53935;top:0px;}
.form-group.multi-inputs button.remove-upload-univ-images:hover{background:#c81e1a;border-color:#c81e1a;}
.form-group.multi-inputs button.remove-upload-univ-images + .inputfile + label{width: 92%;}
.btn-submit{background: #1abc9c;color: #fff;border-radius: 30px;text-transform: none;padding: 11px 30px !important;}
.btn-submit:hover, .btn-submit:focus {background: #10a084;color: #fff;}
.btn-notice{background: #1abc9c;color: #fff;border-radius: 30px;text-transform: none;margin-bottom: 40px;}
.btn-notice:hover, .btn-notice:focus {background: #10a084;color: #fff;}
.pagination>li>a, .pagination>li>span{color: #1abc9c;padding: 3px 10px;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{color: #10a084;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #1abc9c;border-color: #1abc9c;}

.pmd-dropdown.open > .pmd-dropdown-menu-container > .pmd-dropdown-menu-bg{display: none;}
.pmd-dropdown .dropdown-menu{background: #fff;}
.notification .dropdown-menu ul > li > a {font-size: 13px;padding: 7px 14px;}
.notification .pmd-card-title {padding: 16px 12px 0 16px;margin-bottom: 10px;}
.notification .pmd-card-title a{font-size: 13px;margin-top: -3px;}
.notification .pmd-card-title h3{font-size: 14px;}
.pmd-notifications{max-height: 350px;min-height: 350px;overflow-y: auto;}
.user-menu{margin-left: 25px;}
.user-menu .dropdown-menu{min-width: 160px;width:160px;}
.user-menu.notification .dropdown-menu .list-group-item a{float:none !important;display: block;}
.notification .dropdown-menu ul > li > a{padding:9px 14px;}
.user-menu.notification a.dropdown-toggle{margin-top: 14px;margin-right: -4px;}
.user-img img {max-height: 35px;width: auto;height: auto;max-width: 35px;display: inline-block;}
.navbar-inverse{ background-color:#1abc9c; border-color:#1abc9c;}
.navbar-inverse .navbar-brand{color: #fff;}
.pmd-checkbox [type="checkbox"]:checked + .pmd-checkbox-label:before{background-color: #1abc9c;}
.pmd-checkbox [type="checkbox"]:not(:checked) + .pmd-checkbox-label:before, .pmd-checkbox [type="checkbox"]:checked + .pmd-checkbox-label:before{border-color: #1abc9c;}
.select2-container{width: 100% !important;}
.select2-container--default .select2-selection--multiple{border-radius: 0px !important;border: 1px solid #ccc !important;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border-color: #1abc9c !important;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: #1abc9c !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background: #efefef !important;border:none !important;height: 40px;line-height: 40px;border-radius: 25px !important;padding: 0 15px !important;color: #868686!important;margin-right: 7px !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color: #1abc9c !important;margin-right: 7px !important;}
.select2-container--default .select2-search--inline .select2-search__field{height: 40px;line-height: 40px;}

.form-control[disabled] {
    background: #fff;
}
/* Common */



/* navbar */
/* navbar */
.navbar-inverse {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
.navbar-inverse .navbar-brand {
    color: #fff;}
.pmd-navbar.navbar .btn.pmd-btn-fab:hover, .pmd-navbar.navbar .btn.pmd-btn-fab:focus, .pmd-navbar.navbar .btn.pmd-btn-fab.focus{color: #fff;}
/* Notification */
.notification .pmd-badge[data-badge]::after{ background-color:#fff; color:#333;}
.notification .pmd-dropdown-menu-container { top:65px;}
.notification.open .pmd-dropdown-menu-container:after{ border-bottom: 6px solid #ffffff; border-left: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; right: 24px; position: absolute; top: -6px;}
.notification .notification-blank { padding:120px 16px; text-align:center; opacity:0.7;}
nav .notification .notification-blank span.dic { display:block; font-size:58px; margin-bottom:10px; opacity:0.3;}
/* .notification .dropdown-menu { padding:0; width:320px; position:relative;} */
.notification a.dropdown-toggle{ margin-top:21px;}
.notification a{ position:relative; overflow:visible;}
.notification .list-group-item { background:#F9F9F9; line-height:15px; cursor:pointer; float:left; width:100%;}
.notification .list-group-item { padding:0; border-top:1px solid #ebebeb; margin:0;}
.notification .list-group-item a { border:0;}
.notification .list-group-item .avatar-list-img40x40 { margin-top:0;}
.notification .list-group-item .list-group-item-text { line-height:1.4; display:block; white-space:normal; font-size:14px;}
.notification .list-group-item .list-g
roup-item-date { color:rgba(0, 0, 0, 0.44); font-size:13px;  display:block;}
.notification .list-group-item > a { padding:16px; right:0; margin-top:0;}
.notification .list-group-item.unread { background:#fff;}
.notification .list-group-item:hover { background:#F5F5F5;}
.pmd-navbar .navbar-nav > li.notification svg { margin-right:0;}
.notification .nav-dropdown h3 a { text-decoration:underline; margin-top:0;}
.notification .nav-dropdown h3 a:hover { text-decoration:none;}
.avatar-list-img40x40{width:40px;height:40px;border-radius:50%;display:table-cell;overflow:hidden;vertical-align:middle;position:relative; text-align:center; }
.avatar-list-img40x40 .dic { vertical-align:middle;}
.avatar-list-img40x40 {width:40px;height:40px;border-radius:50%;display:inline-block;overflow:hidden;vertical-align:middle;position:relative; line-height: 38px;} 
.avatar-list-img40x40 img {max-height: 40px; width: auto;  height: auto; max-width: 40px; display:inline-block;}
.avatar-list-img140x140{width:140px;height:140px; border-radius:50%;display:inline-block;overflow:hidden;vertical-align:middle;position:relative; text-align:center; line-height:140px; margin:0 auto;}
.avatar-list-img140x140::after {border-radius: 50%;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;content: "";height: 140px;left: 0;position: absolute;top: 0;width: 140px;z-index: 100;}
.avatar-list-img140x140 img {max-height: 140px; width: auto;  height: auto; max-width: 140px; display:inline-block;}
.notification .pmd-list-avatar{ display:inline;}
.pmd-notifications.dropdown-menu li {padding: 15px;margin-top: -14px;border-bottom: 1px solid #ded9d9;}
.pmd-notifications.dropdown-menu li:last-child{border-bottom: none;}
.pmd-notifications .noti-image img{height:55px;}
.pmd-notifications .noti-image{margin-right:20px;}
.pmd-notifications .noti-details-title{font-size:13px;font-weight:600;margin-bottom:0px;}
.pmd-notifications .noti-details-text{font-size:12px;}
.pmd-notifications .noti-details-location{font-size:12px;}
.noti-details-btns span{float:left;margin-right:20px;font-size:11px;}
.noti-details-btns{margin-top:8px;width:100%;}
.noti-details-btns span:last-child{float:right;margin-right:0px;}
.noti-details-btns .btn{padding: 2px 15px;background:transparent;border-radius:25px;border:1px solid #1abc9c;color:#1abc9c;font-size:10px;font-weight:600;margin-left:5px;width:auto !important;min-width: auto !important;}
.noti-details-btns .btn:hover{background:#1abc9c;color:#fff;}
.notification.nav-notification .dropdown-menu{width:480px;min-width: 480px !important;}
.overview-details{margin-top: 64px;}
.student-profile .pmd-sidebar{padding-top: 64px;}
.student-profile .pmd-sidebar-slide-push ~ .pmd-content{padding-top: 0;}
.user-menu.notification a.dropdown-toggle {
    margin-top: 14px;
    margin-right: -4px;
}
.notification .pmd-dropdown-menu-container {
    top: 65px;
}
.pmd-dropdown .dropdown-menu{background: #fff;padding: 0;transition: none;position: relative;}
.pmd-notifications {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}
.user-menu{margin-left: 25px;}
.user-img img {
    max-height: 35px;
    width: auto;
    height: auto;
    max-width: 35px;
    display: inline-block;
}
.user-menu.notification .dropdown-menu .list-group-item a {
    float: none !important;
    display: block;
}

/* Tabs */
.admin-add-university{padding: 40px 0;padding-top: 85px;}
.admin-add-university-tabs{border-bottom: none;}
.admin-add-university-tabs.nav>li>a{padding: 15px;color: #868686;border:none;border:none;opacity: 1;margin:0;border-radius: 0px;border-left: 3px solid transparent;}
.admin-add-university-tabs.nav>li>a:hover{border: none;border:none;background: #f2fdf9;border-left: 3px solid #1abc9c;}
.admin-add-university-tabs.nav-tabs>li.active>a, .admin-add-university-tabs.nav-tabs>li.active>a:focus, .admin-add-university-tabs.nav-tabs>li.active>a:hover{border:none;background: #f2fdf9;color: #1abc9c;border:none;border-left: 3px solid #1abc9c;}
/* Tabs */
/* Tabs Content */

/* General */
.add-univ-addresses h3{font-weight: 500;font-size: 20px;color: #868686;margin-bottom: 30px;}
.add-univ-addresses .btn-add{font-size: 11px;margin-bottom: 40px;margin-top: -20px;}
.add-univ-address{margin-bottom: 30px;border-bottom: 1px solid #ded9d9;}
.add-univ-address:first-child{border: none;}
.add-univ-address select{width: 235px;}
.add-univ-address{position: relative;padding: 25px 0;}
.add-univ-address label{margin-top: 8px;margin-right: 15px}
.add-univ-address .btn-remove-univ-location{position: absolute;right: 3px;top: -22px;height: 40px;width: 40px;border:1px solid #e53935;color: #fff;background: #e53935;border-radius: 50%;font-size: 22px;z-index: 99;}
.add-univ-address .btn-remove-univ-location:hover{background: #c81e1a;}
.add-univ-address .univ-address-street input{width:350px;display: inline-block; }
.add-univ-address .univ-address-zip input{width:350px;display: inline-block; }

.upload-btn-wrapper{position: relative;overflow: hidden;float:right;margin: 0 5px;}
.upload-btn-wrapper input[type=file]{font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;margin-top: 2px;}
.upload-btn-wrapper #upload-add{border: none;height: 30px;width: 30px;background: transparent;border: 1px solid #1abc9c;color: #1abc9c;border-radius: 50%;cursor: pointer;font-size: 18px;}
.add-univ-images #univimages-name-list{border:1px solid #ccc;padding: 0;padding: 10px 20px;padding-left: 30px;min-height: 34px;}
.add-univ-images #univimages-name-list li{list-style: decimal;color: #868686;}
.add-univ-images #univ-images-preview img{height: 80px;width: 90px;max-width: 100%;display: inline-block;margin: 5px;}
.add-univ-images #univ-images-preview{background: #fbfbfb;padding: 10px 0px;margin-top: -10px;}
.add-univ-images .univ-images-footer{background: #f1f1f1;padding: 10px;}
.add-univ-images .univ-image{display: inline-block;}
.add-univ-images .remove-univ-image{background: #ff777c;color: #fff;height: 20px;width: 20px;border-radius: 50%;line-height: 20px;display: block;text-align: center;position: relative;left: 50%;transform: translateX(-50%);cursor: pointer;}
/* General */


/* Programs */
.admin-add-univ-programs .admin.pickup-settings .dropdown-menu:before{right: 40px;}
.admin-add-univ-programs .admin-univ-title .form-group{margin-right: 20px;}
.admin-add-univ-programs .admin-univ-title .pull-right .form-group{margin-right: 0px;}
.admin-add-univ-programs .admin-univ-title .form-group .form-control{width: 170px;height:34px;display: inline-block;}
.admin-add-univ-programs .admin-univ-title .form-group .form-control.student-list-perpage{width: 100px;}
.admin-add-univ-programs .admin-univ-title .form-group label{margin-top: 5px;margin-right: 15px;}
.admin-add-univ-programs .list-group-item {border: none;border-bottom: 1px solid #ded9d9;margin-bottom: 10px;}
.admin-add-univ-programs .university-title{margin-bottom: 10px;}
.admin-add-univ-programs .university-title strong{font-size: 16px;color: #868686;display: block;}
.admin-add-univ-programs .university-image img{height: 100px;border-radius: 50%;}
.admin-add-univ-programs .university-details{margin: 0 !important;padding: 15px 0;}
.admin-add-univ-programs .university-details-lists{padding-top: 10px;}
.admin-add-univ-programs .university-details-lists li{list-style: none;color: #868686;margin-bottom: 4px;font-size: 12px;}
.admin-add-univ-programs .admin-univ-lists .admin-univ-options {position: absolute;right: 15px;top:12px;}
.admin-add-univ-programs .admin-univ-lists .admin-univ-options button{height: 35px;width: 35px;border:none;font-size: 19px;margin-left: 20px;border-radius: 50%;color: #fff;text-align: center;}
.admin-add-univ-programs .admin-univ-lists .admin-univ-options .btn-edit{background: #4db6ac;height: 35px;width: 35px;border: none;font-size: 19px;margin-left: 20px;border-radius: 50%;color: #fff;text-align: center;display: inline-block;padding-top: 3px;position: relative;top: -2px;}
.admin-add-univ-programs .admin-univ-lists .admin-univ-options .btn-delete{background: #ff777c;}
/* Programs */


/* add programs */
.add-program-tabs .nav-tabs li.active a{border:none;border-bottom: 2px solid #1abc9c;color: #0f0e0e;}
.add-program-tabs .nav-tabs li a{border:none;border-bottom: 2px solid transparent;background: transparent;color: #868686;opacity: 0.8;}
.add-program-tabs .nav-tabs li a:hover{border:none;border-bottom: 2px solid #1abc9c;background: transparent;color: #0f0e0e;}
.add-program-tabs .nav-tabs{border: none;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);padding: 12px 20px;}
.add-program-tabs .tab-content{padding: 20px;}
.add-program-tabs button.close{margin: 10px;}
.add-program-tabs .btn-notice{margin-bottom: 0;}
.add-program-form_inline .form-group{width: 30%;margin-right: 5%;}
.add-program-form_inline .form-group:last-child{margin-right:0;}

.form-group.add-program-multi-inputs button.remove-add-program-course-images{background:#e53935;color:#fff;border-color:#e53935;top:0px;}
.form-group.add-program-multi-inputs button.remove-add-program-course-images:hover{background:#c81e1a;border-color:#c81e1a;}
.form-group.add-program-multi-inputs button.remove-add-program-course-images + .inputfile + label{width: 92%;}
.form-group.add-program-multi-inputs .add-program-multi-input {position: relative;margin-bottom: 10px;}
.form-group.add-program-multi-inputs button {position: absolute;right: 3px;top: -10px;height: 40px;width: 40px;border: 1px solid #1abc9c;color: #1abc9c;background: #fff;border-radius: 50%;font-size: 22px;z-index: 99;}
.form-group.add-program-multi-inputs label.control-label {margin-bottom: 25px !important;}
/* add programs */


/* desc Universities */
#admin-add-univ-desc .section{border-bottom: 1px solid #ded9d9;margin-bottom: 30px;}
#admin-add-univ-desc .section .btn-remove {
    position: absolute;
    right: 3px;
    top: -22px;
    height: 40px;
    width: 40px;
    border: 1px solid #e53935;
    color: #fff;
    background: #e53935;
    border-radius: 50%;
    font-size: 22px;
    z-index: 99;
}
#admin-add-univ-desc .btn-remove:hover {
    background: #c81e1a;
}
/* desc Universities */

/* scholarship */
#admin-add-univ-scholarship .section{border-bottom: 1px solid #ded9d9;margin-bottom: 30px;}
#admin-add-univ-scholarship .section .btn-remove {
    position: absolute;
    right: 3px;
    top: -22px;
    
    height: 40px;
    width: 40px;
    border: 1px solid #e53935;
    color: #fff;
    background: #e53935;
    border-radius: 50%;
    font-size: 22px;
    z-index: 99;
}
#admin-add-univ-scholarship .btn-remove:hover {
    background: #c81e1a;
}
/* scholarship */

/* general entry requirement */

.admin-add-univ-entryreq .nav-tabs li.active a{border:none;border-bottom: 2px solid #1abc9c;color: #0f0e0e;}
.admin-add-univ-entryreq .nav-tabs li a{border:none;border-bottom: 2px solid transparent;background: transparent;color: #868686;opacity: 0.8;}
.admin-add-univ-entryreq .nav-tabs li a:hover{border:none;border-bottom: 2px solid #1abc9c;background: transparent;color: #0f0e0e;}
.admin-add-univ-entryreq .nav-tabs{border: none;box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);padding: 12px 20px;}
.admin-add-univ-entryreq .tab-content{padding: 20px;}

.req-box .form-group{margin-right: 20px;}
.req-box .pull-right .form-group{margin-right: 0px;}
.req-box .form-group .form-control{width: 170px;display: inline-block;}
.req-box .form-group label{margin-top: 7px;margin-right: 15px;}
.req-box h3{font-weight: 600;margin-top: 0;}
.req-box table th{font-weight: 600 !important;font-size: 15px !important;}
.req-box table{max-width: 500px;margin:auto;}
.req-box{border:1px solid #ded9d9;padding: 20px;margin-bottom: 40px;margin-top: 10px;}
.aptitude-assessment h2, .language-assessment h2{color: #868686;font-size: 17px;margin-bottom: 20px;}
.aptitude-assessment{border-top: 1px solid #ded9d9;margin-top: 50px;padding-top: 15px;}
.academic-profile-req{margin-top: 40px;}
.documents-required{margin-top: 40px;}

/* general entry requirement */



/* Tabs Content */
