@media (max-width: 1500px){
.container {
    width: 100%;
}
}
.student-profile{padding:20px;position: relative;}
.student-profile .pmd-content{padding: 0;}
@media (max-width:768px){
    .student-profile{padding: 0;padding-top: 20px;}
}
.pmd-sidebar-slide-push.pmd-sidebar-open ~ .pmd-content{
    padding-top: 0;
}
.pmd-sidebar-slide-push ~ .pmd-content{
    padding-top: 100px;
}
label {
    font-weight: 400;
    margin-bottom: 10px !important;
    color: #868686;
}
/* Profile Sidenav */
.student-profile .pmd-sidebar{padding-top: 20px;}
.student-profile .pmd-sidebar-toggle{background: #1abc9c;color: #fff;z-index: 999;}
.student-profile .pmd-sidebar-toggle:hover, .student-profile .pmd-sidebar-toggle:focus,{background: #10a084 !important;color: #fff !important;}
.profile-sidenav-header{padding: 20px;}
.profile-sidenav-header{color: #868686;}
.user_profile_pic{width: 90px;}
.user_name{margin: 0;margin: 8px 0;}
.user_type{font-weight: 700;color: #2388ec;margin: 0;margin-bottom: 8px;}
.btn-facebook, .btn-message, .btn-mail{text-transform: none;font-weight: 400;font-size: 13px;padding: 8px 14px;margin:8px;}
.btn-facebook:hover, .btn-facebook:focus{color: #fff;background: #2e4d8f;}
.btn-message:hover, .btn-message:focus{color: #fff;background: #10a084;}
.btn-mail:hover, .btn-mail:focus{color: #fff;background: #747776;}
.btn-facebook{background: #3b5998;border-radius: 25px;}
.btn-message{background: #1abc9c;border-radius: 25px;}
.btn-mail{background: #a7acab;border-radius: 25px;}
.profile-sidenav-nav li a{border-left: 3px solid transparent;color: #868686}
.profile-sidenav-nav li a:hover{border-left: 3px solid #1abc9c;color: #1abc9c}
.profile-sidenav-nav li a.active{border-left: 3px solid #1abc9c;color: #1abc9c;background: #eee;}
#send-mail-modal #mail-attach-preview{background: #fbfbfb;padding: 10px;border: 1px solid #ccc;border-bottom: none;}
#send-mail-modal .mail-attach-footer{background: #f1f1f1;padding: 10px;}
#send-mail-modal .mail-attach{display: inline-block;position: relative;padding-bottom: 20px;margin-bottom: 10px;margin-left: 20px;width: 22.2%;}
#send-mail-modal .mail-attach:first-child{margin-left: 0;}
#send-mail-modal .mail-attach:nth-child(4n+1){margin-left: 0;}
#send-mail-modal .remove-mail-attach{background: #ff777c;color: #fff;height: 20px;width: 20px;border-radius: 50%;line-height: 20px;display: block;text-align: center;position: relative;left: 50%;transform: translateX(-50%);cursor: pointer;top: 10px;}
#send-mail-modal .upload-btn-wrapper{position: relative;overflow: hidden;float:right;margin: 0 5px;}
#send-mail-modal .upload-btn-wrapper input[type=file]{font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;margin-top: 2px;}
#send-mail-modal .upload-btn-wrapper #upload-add{border: none;height: 32px;background: #fff;border: 1px solid #1abc9c;color: #868686;border-radius: 25px;cursor: pointer;font-size: 14px;border: 2px solid #e0e0e0;padding: 0px 20px;}
#send-mail-modal .doc{border: 1px solid #ded9d9;padding: 8px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
#send-mail-modal .doc-object{overflow: hidden;border: 1px solid #ded9d9;}
#send-mail-modal .doc-object object{max-width: 100%;height: 100px;}
#send-mail-modal .doc .doc-detail p{margin: 0;color: #868686;font-size: 12px;white-space: nowrap;margin-top: 3px;text-align: center;overflow: hidden;}
textarea{resize: vertical;}
/* Overview Details */
.profile-details .pmd-tabs .pmd-tab-active-bar{background: #1abc9c;}
.profile-details section ul li{list-style: none;color: #868686;font-size: 14px;margin-bottom: 4px;}
.profile-details section ul{padding: 0;}
.profile-details section{margin-bottom: 35px;padding: 0 15px;}
.profile-details section ul li span{margin: 0 5px;}
.profile-details section h3{font-weight: 500;font-size: 20px;color: #868686;margin-bottom: 30px;}
.profile-details section.currentaddres_same_per h3{font-size: 17px;}
.profile-details hr{margin: 35px 0;border-color: #e0dede;}
.profile-details hr:last-child{margin: 80px 0;}
.pmd-radio *:checked + span.pmd-radio-label::before{border-color: #1abc9c;}
.pmd-radio > span.pmd-radio-label::after{background-color: #1abc9c;}
.pmd-radio > span.pmd-radio-label{margin-right: 0;}
.btn.btn-edit-profile{background: #1abc9c;color: #fff;width: 45px;min-width: 45px;height: 45px;}
.btn.btn-edit-profile i{line-height: 45px;}
.btn-edit-profile:hover, .btn-edit-profile:focus{background: #10a084;color: #fff;}
.profile-details{position: relative;}
.profile-details .btn-edit-profile{position: absolute;right: 45px;top: 75px;z-index: 99;}
.tab-content>.active{padding-top: 20px;}


/* Edit Profile */
.btn-save{background: #1abc9c;color: #fff;border-radius: 30px;}
.btn-save:hover, .btn-save:focus{background: #10a084;color: #fff;}
.form-control:focus{box-shadow: none;border-color:#1abc9c;}
.form-control{border-radius: 0px;}
.form-group label, .form-inline label{color: #868686;font-weight: 400;font-size: 14px;}
.form-group{width: 25%;margin-right: 10px;}
.form-group.gender{width: 25% !important;margin-right: 10px;}
.form-inline .form-control{width: 100%;}
.form-group{position: relative;}
.form-group span.input-group-addon{cursor:pointer;position: absolute;right: 0;top: 0;height: 34px;width: 34px;padding: 0;line-height: 34px;border-radius: 0px;}
.form-control:focus + span{border-color: #1abc9c;color: #1abc9c;}
.form-group span.input-group-addon i{vertical-align: middle;}
.input-group-addon:last-child{border: 1px solid #ccc;}
.form-inline > span{margin-right: 10px;}
.form-inline{margin-bottom: 15px;}
.btn-gender{color: #1abc9c;background: #f7f3f3;}
.form-inline ins{text-decoration: none;margin-right: 10px;}
.select2-container--bootstrap .select2-selection--single{ padding:6px 24px 6px 6px}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{ box-shadow:none !important;}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{padding: 0;}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{margin: 5px 5px 0 0; border: 1px solid #e6e6e6 !important}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{border-color: #1abc9c;}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {background-color: #1abc9c;color: #fff;}
.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active.disabled:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active[disabled],.datepicker table tr td span.focused, .datepicker table tr td span:hover,.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{background: #1abc9c;border-radius: 0px; color: #fff;}
.datepicker table tr td span{height: 40px;line-height: 40px;}
.datepicker table tr td.day.focused, .datepicker table tr td.day:hover{background: #1abc9c;border-radius: 0px; color: #fff;}
.select2-container--bootstrap .select2-selection{border-radius: 0px;}
.docs{padding-left: 20px;}
.docs li{font-weight: 500;color: #868686;padding-bottom: 6px;padding-left: 5px;}
.docs li span{font-size: 13px;font-weight: 400;margin-top: 5px;padding-right: 20px;}
.btn-upload{background: #1abc9c;color: #fff;height: 32px;line-height: 12px;text-transform: none;border-radius: 0px;}
.btn-upload:hover, .btn-upload:focus{background: #10a084;color: #fff;}
#upload-file-selector{display:none;}
.upload-btn-container{margin-top: -8px;}
.btn-uploaded{background: #0f6856;cursor: not-allowed;}
.btn-uploaded:hover, .btn-uploaded:focus{background: #0f6856;cursor: not-allowed;}
.btn.btn-add{background: #1abc9c;color: #fff;width: 90px;min-width: 90px;height: 37px;text-transform: none;border-radius: 30px;}
.btn.btn-add i{position: relative;top: 6px;left:5px;line-height: 0px;}
.btn-add:hover, .btn-add:focus{background: #10a084;color: #fff;}
.profile-details .btn-add{position: absolute;right: 45px;top: 110px;z-index: 99;}
.sponsors{position: relative;}
.btn.btn-remove{background: #e53935;color: #fff;width: 100px;min-width: 100px;height: 37px;text-transform: none;border-radius: 30px;}
.btn.btn-remove i{font-size:22px;position: relative;top: 6px;left:5px;line-height: 0px;}
.btn.btn-remove:hover, .btn.btn-remove:focus{background: #c81e1a;color: #fff;}
.profile-details .btn-remove{position: absolute;right: 14px;top: 22px;z-index: 99;}
.pmd-alert-container .pmd-alert.information, .pmd-alert-container .pmd-alert{background: #1abc9c;border-radius: 0px;width: 200px;max-width: 200px;text-align: center;}
.inputfile {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;
position: absolute;z-index: -1;}
.inputfile + label {width: 100%;text-overflow: ellipsis;white-space: nowrap;cursor: pointer;display: inline-block;overflow: hidden;position: relative;}
.inputfile + label .btn-upload{position: absolute;right:0 ;top: 0px;height: 35px;}
.inputfile + label .inputfile-name {width: 100%;height: 35px;border-bottom: 1px solid #ded9d9;display: inline-block;text-overflow: ellipsis;white-space: nowrap;padding-top: 6px;}
#sponsor2{display: none;}
label{color: #868686;font-weight: 400;font-size: 14px;}
@media screen and (max-width:768px){
    .form-group{width: 100%;margin-right: 0px;}
    .form-group.gender{width: 100% !important;margin-right: 0px;}
}


/* navbar */
.navbar-inverse {
    background-color: #1abc9c;
    border-color: #1abc9c;
}
.navbar-inverse .navbar-brand {
    color: #fff;}
.pmd-navbar.navbar .btn.pmd-btn-fab:hover, .pmd-navbar.navbar .btn.pmd-btn-fab:focus, .pmd-navbar.navbar .btn.pmd-btn-fab.focus{color: #fff;}
/* Notification */
.notification .pmd-badge[data-badge]::after{ background-color:#fff; color:#333;}
.notification .pmd-dropdown-menu-container { top:65px;}
.notification.open .pmd-dropdown-menu-container:after{ border-bottom: 6px solid #ffffff; border-left: 6px solid rgba(0, 0, 0, 0);border-right: 6px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; right: 24px; position: absolute; top: -6px;}
.notification .notification-blank { padding:120px 16px; text-align:center; opacity:0.7;}
nav .notification .notification-blank span.dic { display:block; font-size:58px; margin-bottom:10px; opacity:0.3;}
/* .notification .dropdown-menu { padding:0; width:320px; position:relative;} */
.notification a.dropdown-toggle{ margin-top:21px;}
.notification a{ position:relative; overflow:visible;}
.notification .list-group-item { background:#F9F9F9; line-height:15px; cursor:pointer; float:left; width:100%;}
.notification .list-group-item { padding:0; border-top:1px solid #ebebeb; margin:0;}
.notification .list-group-item a { border:0;}
.notification .list-group-item .avatar-list-img40x40 { margin-top:0;}
.notification .list-group-item .list-group-item-text { line-height:1.4; display:block; white-space:normal; font-size:14px;}
.notification .list-group-item .list-group-item-date { color:rgba(0, 0, 0, 0.44); font-size:13px;  display:block;}
.notification .list-group-item > a { padding:16px; right:0; margin-top:0;}
.notification .list-group-item.unread { background:#fff;}
.notification .list-group-item:hover { background:#F5F5F5;}
.pmd-navbar .navbar-nav > li.notification svg { margin-right:0;}
.notification .nav-dropdown h3 a { text-decoration:underline; margin-top:0;}
.notification .nav-dropdown h3 a:hover { text-decoration:none;}
.avatar-list-img40x40{width:40px;height:40px;border-radius:50%;display:table-cell;overflow:hidden;vertical-align:middle;position:relative; text-align:center; }
.avatar-list-img40x40 .dic { vertical-align:middle;}
.avatar-list-img40x40 {width:40px;height:40px;border-radius:50%;display:inline-block;overflow:hidden;vertical-align:middle;position:relative; line-height: 38px;} 
.avatar-list-img40x40 img {max-height: 40px; width: auto;  height: auto; max-width: 40px; display:inline-block;}
.avatar-list-img140x140{width:140px;height:140px; border-radius:50%;display:inline-block;overflow:hidden;vertical-align:middle;position:relative; text-align:center; line-height:140px; margin:0 auto;}
.avatar-list-img140x140::after {border-radius: 50%;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;content: "";height: 140px;left: 0;position: absolute;top: 0;width: 140px;z-index: 100;}
.avatar-list-img140x140 img {max-height: 140px; width: auto;  height: auto; max-width: 140px; display:inline-block;}
.notification .pmd-list-avatar{ display:inline;}
.pmd-notifications.dropdown-menu li {padding: 15px;margin-top: -14px;border-bottom: 1px solid #ded9d9;}
.pmd-notifications.dropdown-menu li:last-child{border-bottom: none;}
.pmd-notifications .noti-image img{height:55px;}
.pmd-notifications .noti-image{margin-right:20px;}
.pmd-notifications .noti-details-title{font-size:13px;font-weight:600;margin-bottom:0px;}
.pmd-notifications .noti-details-text{font-size:12px;}
.pmd-notifications .noti-details-location{font-size:12px;}
.noti-details-btns span{float:left;margin-right:20px;font-size:11px;}
.noti-details-btns{margin-top:8px;width:100%;}
.noti-details-btns span:last-child{float:right;margin-right:0px;}
.noti-details-btns .btn{padding: 2px 15px;background:transparent;border-radius:25px;border:1px solid #1abc9c;color:#1abc9c;font-size:10px;font-weight:600;margin-left:5px;width:auto !important;min-width: auto !important;}
.noti-details-btns .btn:hover{background:#1abc9c;color:#fff;}
.notification.nav-notification .dropdown-menu{width:480px;min-width: 480px !important;}
.pmd-content{margin-top: 64px;}
.student-profile .pmd-sidebar{padding-top: 64px;}
.student-profile .pmd-sidebar-slide-push ~ .pmd-content{padding-top: 0;}
.user-menu.notification a.dropdown-toggle {
    margin-top: 14px;
    margin-right: -4px;
}
.notification .pmd-dropdown-menu-container {
    top: 65px;
}
.pmd-dropdown .dropdown-menu{background: #fff;padding: 0;transition: none;position: relative;}
.pmd-notifications {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}
.user-menu{margin-left: 25px;}
.user-img img {
    max-height: 35px;
    width: auto;
    height: auto;
    max-width: 35px;
    display: inline-block;
}
.user-menu.notification .dropdown-menu .list-group-item a {
    float: none !important;
    display: block;
}


/* Classes */
ul.student-profile-classes{padding: 0;}
.student-profile-classes .list-group-item-heading{font-size: 14px;color: #4d4747;font-weight: 500;}
.student-profile-classes .list-group-item-text{color: #605E5E;font-size: 13px;display: block;margin-top: 3px;}
.student-profile-classes .list-group-item{border-top: none;border-bottom: 1px solid #ded9d9;margin-bottom: 20px;position: relative;}
.student-profile-classes .list-group-item{padding-right: 50px;}
.student-profile-classes .list-group-item .dropdown.pickup-settings{position: absolute;right: 0;top: 5px;margin: 0;}
.student-profile-classes .pickup-settings .dropdown-menu{right: -1px;}
.btn-icon {padding: 0;background: transparent;min-width: auto;margin-right: 20px;color: #605E5E;font-size: 22px;}
.card{background: #ffffff;padding: 20px;}
.pickup-settings .dropdown-menu {background: #fbfbfb;top: 30px;border: none;right: -20px;border-radius: 0px;left: auto;}
.pickup-settings .dropdown-menu > li > a {padding: 6px 8px;font-size: 13px;color: #6F6B6B;}
.pickup-settings .dropdown-menu:before {border-bottom: 6px solid #fbfbfb;border-left: 8px solid transparent;border-right: 8px solid transparent;content: "";display: inline-block;right: 22px;position: absolute;top: -6px;}
/* Classes */


/* Notices */
.student-profile-notices .list-group-item-heading{font-size: 14px;color: #4d4747;font-weight: 500;}
.student-profile-notices .list-group-item-text{font-size: 13px;display: block;color:#868686;margin-top:3px;}
.student-profile-notices .list-group-item-sub-text{font-size: 12px;color:#868686;display: block;margin-top:5px;}
.see_more{color: #1abc9c;}
.student-profile-notices .list-group-item a:hover .list-group-item-heading{color:#1abc9c;}
.student-profile-notices .list-group-item{border-bottom:1px solid #ded9d9;margin-bottom: 20px;position: relative;padding-right: 150px;}
.student-profile-notices .noti-time{position: absolute;right:0;top:36px;color:#868686;font-size: 13px;font-weight: 400;}
/* Notices */

/* Universities */
.student-profile-universities .nav-tabs{border: none;padding: 10px;}
.student-profile-universities .nav-tabs>li.active>a, .univ-dash .nav-tabs>li.active>a:focus, .univ-dash .nav-tabs>li.active>a:hover{border: none;border-bottom: 2px solid #1abc9c;background: transparent;color: #2c2b2b;}
.student-profile-universities .nav>li>a:focus, .student-profile-universities .nav>li>a:hover{background-color: transparent !important;border-bottom: 2px solid #1abc9c;}
.student-profile-universities .nav-tabs>li>a{border: none;border-bottom: 2px solid transparent;color: #868686;opacity: 1;}
.student-profile-universities .pickup-settings {position: absolute;right: 10px;top: 25px;}
.student-profile-universities .pickup-settings.gear {display: inline-block;position: relative;top: auto;right: auto;}
.student-profile-universities .pickup-settings a:hover{color: none !important;}
.student-profile-universities .pickup-settings .dropdown-menu{right: 10px;}
.student-profile-universities .pickup-settings .dropdown-menu:before{right: 10px;}
.student-profile-universities .admin-univ-title .form-group{margin-right: 20px;}
.student-profile-universities .admin-univ-title .pull-right .form-group{margin-right: 0px;}
.student-profile-universities .admin-univ-title .form-group .form-control{width: 170px;display: inline-block;}
.student-profile-universities .admin-univ-title .form-group .form-control.student-list-perpage{width: 100px;}
.student-profile-universities .admin-univ-title .form-group label{margin-top: 5px;margin-right: 15px;}
.student-profile-universities .list-group-item {border: none;border-bottom: 1px solid #ded9d9;margin-bottom: 10px;}
.student-profile-universities .university-title{margin-bottom: 20px;}
.student-profile-universities .university-title strong{font-size: 21px;color: #868686;display: inline-block;}
.student-profile-universities .university-title img{height: 10px;display: inline-block;margin-right: 10px;}
.student-profile-universities .university-title small{display: inline-block;font-size: 13px;color: #868686;}
.student-profile-universities .university-image img{height: 140px;border-radius: 50%;}
.student-profile-universities .university-details{margin: 0 !important;padding: 15px 0;}
.student-profile-universities a.btn-view {font-size: 11px;color: #868686;border: 1px solid #c6bebe;border-radius: 25px;padding: 1px 12px;background: #f1ecec;margin-left: 20px;display: inline-block;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.student-profile-universities a.btn-view:hover {background: #c6bebe;color: #fff;}
.student-profile-universities .university-details-lists li{list-style: none;color: #868686;margin-bottom: 10px;}
.student-profile-universities .university-title a.btn-view{padding: 4px 30px;}
.student-profile-universities .university-title a.btn-view.advertised{background: #71a0ff;border-color: #71a0ff;color: #fff;}
.student-profile-universities .university-title a.btn-view.advertised:hover{background: #5289f5;}
.student-profile-universities .university-details-lists{padding-top: 10px;position: relative;}
.student-profile-universities .admin-univ-lists .admin-univ-options {position: absolute;right: 25px;top:12px;}
.student-profile-universities .admin-univ-lists  button, .univ-course-applied button.btn-delete{height: 40px;width: 40px;border:none;font-size: 22px;margin-left: 20px;border-radius: 50%;color: #fff;text-align: center;}
.student-profile-universities .admin-univ-lists .btn-edit{background: #4db6ac;}
.univ-course-applied button.btn-delete{position: absolute;top: 10px;right: 30px;height: 30px;width: 30px;font-size: 17px;}
.student-profile-universities .admin-univ-lists .btn-delete, .univ-course-applied .btn-delete{background: #ff777c;}
.univ-course-applied h5{text-align: center;color: #666666;font-size: 20px;margin: 36px 0;margin-bottom: 50px;}
.univ-course-applied .course-view{border:1px solid #d7d8d9;padding: 20px;margin-bottom: 30px;min-height: 300px;}
.univ-course-applied .course-view-title{font-size: 16px;color: #868686;font-weight: 600;margin: 0;margin-bottom: 18px;}
.univ-course-applied .course-view-details{padding: 0;padding-left:10px;}
.univ-course-applied .course-view-details li{font-size: 14px;color: #5d5b5b;margin-bottom: 6px;list-style: none;}
.univ-course-applied .btn-univhub{float: right;margin-top: 20px;font-size: 11px;padding: 4px 12px;background: #fff;border: 1px solid #1abc9c;border-radius: 25px;color: #1abc9c;}
.univ-course-applied .btn-univhub:hover, .univ-course-applied .btn-univhub:focus{background: #1abc9c;border: 1px solid #1abc9c;color: #fff;}

.modal h2 {color: #868686;margin: 0;font-size: 20px;}
#send-mail-modal .form-group{width: 100%;}
#send-mail-modal textarea.form-control{min-height: 100px;}
.btn-submit{background: #1abc9c;color: #fff;border-radius: 30px;text-transform: none;padding: 11px 30px !important;}
.btn-submit:hover, .btn-submit:focus {background: #10a084;color: #fff;}

.select2-container{width: 100% !important;}
.select2-container--default .select2-selection--multiple{border-radius: 0px !important;border: 1px solid #ccc !important;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border-color: #1abc9c !important;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: #1abc9c !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background: #efefef !important;border:none !important;height: 30px;line-height: 30px;border-radius: 25px !important;padding: 0 15px !important;color: #868686!important;margin-right: 7px !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color: #ff777c !important;margin-right: 7px !important;}
.select2-container--default .select2-search--inline .select2-search__field{height: 30px;line-height: 30px;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{font-size: 12px;margin-top: 7px;}


#offer-letter-received .doc{width: 160px;position: relative;float:right;}
#offer-letter-received .doc{border: 1px solid #ded9d9;padding: 8px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);margin-top: -65px;}
#offer-letter-received .doc-object{overflow: hidden;border: 1px solid #ded9d9;}
#offer-letter-received .doc-object object{max-width: 100%;height: 120px;}
#offer-letter-received .doc .doc-status img{position: absolute;right: 2px;top: 18px;background: #fff;height: 35px;width: 35px;border-radius: 50%;border:1px solid #ded9d9;padding: 5px;}
#offer-letter-received .doc .doc-detail{padding: 10px;}
#offer-letter-received .doc .doc-detail p{margin: 0;color: #868686;font-size: 12px;float: left;width: 70%;white-space: nowrap;margin-top: 3px;}
#offer-letter-received .doc .doc-detail > div{float: right;width: 30%;}
#offer-letter-received .doc .doc-detail > div a{float: right;}
#offer-letter-received .doc .doc-detail > div img{height: 22px;margin-left:5px;opacity: 0.6;}
#offer-letter-received .doc .doc-detail > div img:last-child{margin-right: 0px;}


#start-processing-modal .form-group{width: 100%;}
#start-processing-modal textarea.form-control{min-height: 100px;}
#cant-apply-modal .form-group{width: 100%;}
#cant-apply-modal textarea.form-control{min-height: 100px;}
#offer-letter-modal .form-group{width: 100%;}
#offer-letter-modal textarea.form-control{min-height: 100px;}

#start-processing-modal .courses_applying_for{padding: 0;}
#start-processing-modal .courses_applying_for li{display: inline-block;color: #868686;border: 3px solid #e1e1e1;border-radius: 25px;padding: 5px 14px;margin-right: 10px;margin-bottom:6px;}
#start-processing-modal .courses_applying_for li strong{float: left;font-weight: 500;font-size: 12px;}
#start-processing-modal .courses_applying_for li span{cursor: pointer;height: 20px;width: 20px;background: #fff;border: 1px solid #dcd6d6;border-radius: 50%;text-align: center;line-height: 17px;float: right;color: #ff8286;margin-left: 15px;}

#cant-apply-modal .courses_applying_for{padding: 0;}
#cant-apply-modal .courses_applying_for li{display: inline-block;color: #868686;border: 3px solid #e1e1e1;border-radius: 25px;padding: 5px 14px;margin-right: 10px;margin-bottom:6px;}
#cant-apply-modal .courses_applying_for li strong{float: left;font-weight: 500;font-size: 12px;}
#cant-apply-modal .courses_applying_for li span{cursor: pointer;height: 20px;width: 20px;background: #fff;border: 1px solid #dcd6d6;border-radius: 50%;text-align: center;line-height: 17px;float: right;color: #ff8286;margin-left: 15px;}

#offer-letter-modal .courses_offer_letter_received{padding: 0;}
#offer-letter-modal .courses_offer_letter_received li{display: inline-block;color: #868686;border: 3px solid #e1e1e1;border-radius: 25px;padding: 5px 14px;margin-right: 10px;margin-bottom:6px;}
#offer-letter-modal .courses_offer_letter_received li strong{float: left;font-weight: 500;font-size: 12px;}
#offer-letter-modal .courses_offer_letter_received li span{cursor: pointer;height: 20px;width: 20px;background: #fff;border: 1px solid #dcd6d6;border-radius: 50%;text-align: center;line-height: 17px;float: right;color: #19bc9c;margin-left: 15px;}
#offer-letter-modal #mail-attach-preview{background: #fbfbfb;padding: 10px;border: 1px solid #ccc;border-bottom: none;}
#offer-letter-modal .mail-attach-footer{background: #f1f1f1;padding: 10px;}
#offer-letter-modal .mail-attach{display: inline-block;position: relative;padding-bottom: 20px;margin-bottom: 10px;margin-left: 20px;width: 22.2%;}
#offer-letter-modal .mail-attach:first-child{margin-left: 0;}
#offer-letter-modal .mail-attach:nth-child(4n+1){margin-left: 0;}
#offer-letter-modal .remove-mail-attach{background: #ff777c;color: #fff;height: 20px;width: 20px;border-radius: 50%;line-height: 20px;display: block;text-align: center;position: relative;left: 50%;transform: translateX(-50%);cursor: pointer;top: 10px;}
#offer-letter-modal .upload-btn-wrapper{position: relative;overflow: hidden;float:right;margin: 0 5px;}
#offer-letter-modal .upload-btn-wrapper input[type=file]{font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;margin-top: 2px;}
#offer-letter-modal .upload-btn-wrapper #upload-add{border: none;height: 32px;background: #fff;border: 1px solid #1abc9c;color: #868686;border-radius: 25px;cursor: pointer;font-size: 14px;border: 2px solid #e0e0e0;padding: 0px 20px;}
#send-mail-modal .doc{border: 1px solid #ded9d9;padding: 8px;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
#offer-letter-modal .doc-object{overflow: hidden;border: 1px solid #ded9d9;}
#offer-letter-modal .doc-object object{max-width: 100%;height: 100px;}
#offer-letter-modal .doc .doc-detail p{margin: 0;color: #868686;font-size: 12px;white-space: nowrap;margin-top: 3px;text-align: center;overflow: hidden;}
/* Universities */



/* Uploaded Documents */
.student-profile-uploaded-docs .docs{border:1px solid #ded9d9;position: relative;}
.student-profile-uploaded-docs .doc{padding: 8px;}
.student-profile-uploaded-docs .pickup-settings{position: absolute;right: -18px;top: -17px;}
.student-profile-uploaded-docs .pickup-settings i{font-size: 26px;height: 40px;width: 40px;background: #fff;color: #1abc9c;border-radius: 50%;border: 1px solid #ded9d9;text-align: center;padding-top: 6px;}
.student-profile-uploaded-docs .pickup-settings .dropdown-menu:before{right: 50px;}
.student-profile-uploaded-docs .pickup-settings .dropdown-menu{top:43px;}
.student-profile-uploaded-docs .doc-include{overflow: hidden;overflow-y:auto;border: 1px solid #ded9d9;}
.student-profile-uploaded-docs .doc-details{text-align: center;padding: 0px 8px;padding-top: 14px;}
.student-profile-uploaded-docs .doc-details p{margin: 0;display: inline-block;color: #868686;}
.student-profile-uploaded-docs .doc-details a{color: #555555;font-size: 22px;display: inline-block;position: relative;top: -4px;}