<div class="container-fluid blogs"> 
    <div class="row">
        <!-- Page Content Title -->
        <div class="col-md-12">
            <h1 class="page-content-title">Blogs</h1>	
        </div>		
        <!-- / Page Content Title -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="blogs-page-title clearfix">
                <div class="pull-left">
                    <div class="search-lists pull-left"> 
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search Article..." class="form-control search-input">
                    </div>
                    <div class="dropdown pickup-settings pull-left blog-sort">
                        <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By:<i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">                            
                            <li class="dropdown-submenu dropdown-item"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stage</a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Stage 1</a></li>
                                    <li><a href="javascript:void(0);">Stage 2</a></li>
                                    <li><a href="javascript:void(0);">Stage 3</a></li>
                                    <li><a href="javascript:void(0);">Stage 4</a></li>
                                    <li><a href="javascript:void(0);">Stage 5</a></li>
                                    <li><a href="javascript:void(0);">Stage 6</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Date</a></li>
                        </ul>
                    </div>
                </div> 
                <div class="pull-right">
                    <button class="btn btn-notice" data-toggle="modal" data-target="#add-blog-modal">Add Blog</button>
                </div>       
            </div>
            
            <div class="list-group pmd-list pmd-card-list">
                <ul class="blogs-lists">
                    <li class="list-group-item">
                        <div class="blog-title">
                            <h2><a href="#">Title of the Article</a></h2>
                            <small>Author: Sushil Rana</small>
                            <div class="blog-options">
                                <button class="btn-delete" title="Click to Delete Blog"><i class="fa fa-trash"></i></button>
                                <button class="btn-edit" title="Click to Edit Blog"><i class="fa fa-pencil"></i></button>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="media-left blog-image">
                                <img src="assets/images/blog.jpg" alt="">
                            </div>
                            <div class="media-right blog-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="blog-title">
                            <h2><a href="#">Title of the Article</a></h2>
                            <small>Author: Sushil Rana</small>
                            <div class="blog-options">
                                <button class="btn-delete" title="Click to Delete Blog"><i class="fa fa-trash"></i></button>
                                <button class="btn-edit" title="Click to Edit Blog"><i class="fa fa-pencil"></i></button>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="media-left blog-image">
                                <img src="assets/images/blog.jpg" alt="">
                            </div>
                            <div class="media-right blog-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
            <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>
    </div>
</div>


<div tabindex="-1" class="modal fade" id="add-blog-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="text-center">Ceating Blog</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="add-counselor">
                    <div class="form-group">
                        <label for="blog-title-modal" class="control-label">Blog Title:</label><br>
                        <input type="text" id="blog-title-modal" class="form-control" required placeholder="Title of the Blog">
                    </div>
                    <div class="form-group">
                        <label for="blog-author" class="control-label">Author:</label><br>
                        <input type="text" id="blog-author" class="form-control" required placeholder="Author">
                    </div>
                    <div class="form-group">
                        <label for="blog_desc" class="control-label">Content:</label><br>
                        <textarea id="blog_desc" required class="form-control" placeholder="Blog Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="blog-images" class="control-label">Add Blog Images</label>
                        <div id="blog-images-preview">
                        </div>
                        <div class="blog-images-footer clearfix">
                            <div class="upload-btn-wrapper pull-right">
                                <button id="upload-add" type="button"><i class="fa fa-plus"></i></button>
                                <input type="file" multiple name="file_upload" id="blog-images" accept="image/x-png,image/gif,image/jpeg, image/jpg" required/>
                            </div>
                        </div>
                    </div>

                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Ok</button>
                    </div>
                </form>
            </div> 
            
        </div>
    </div>
</div>