<div class="container-fluid events-seminar"> 
        <div class="row">
            <!-- Page Content Title -->
            <div class="col-md-12">
                <h1 class="page-content-title">Events and Seminar</h1>	
            </div>		
            <!-- / Page Content Title -->
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="event-page-title clearfix">
                    <div class="pull-left">
                        <div class="search-lists pull-left"> 
                            <i class="fa fa-search"></i>
                            <input type="text" placeholder="Search Events..." class="form-control search-input">
                        </div>
                    </div> 
                    <div class="pull-right">
                        <button class="btn btn-notice" data-toggle="modal" data-target="#add-event-modal">Add Event</button>
                    </div>       
                </div>
                
                <div class="list-group pmd-list pmd-card-list">
                    <ul class="event-lists">
                        <li class="list-group-item">
                            <div class="event-title">
                                <h2><a href="#">Title of the Event</a></h2>
                                <small>Organized By: Univhub Private Limited</small>
                                <div class="event-options">
                                    <button class="btn-delete" title="Click to Delete Blog"><i class="fa fa-trash"></i></button>
                                    <button class="btn-edit" title="Click to Edit Blog"><i class="fa fa-pencil"></i></button>
                                </div>
                            </div>
                            <div class="event-content clearfix">
                                <div class="media-left event-image">
                                    <div class="event-seminar-carousel">
                                        <div class="owl-carousel" id="event-seminar-carousel">
                                            <img src="assets/images/blog.jpg" alt="">
                                            <img src="assets/images/blog.jpg" alt="">
                                            <img src="assets/images/blog.jpg" alt="">
                                        </div>  
                                    </div>  
                                </div>
                                <div class="media-right event-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="event-extra">
                                        <strong>Event Date: 20th Oct, 2017</strong>
                                        <strong>Location: Sangrila Hotel <a href="#" class="view-link">View Map</a></strong>
                                    </div>
                                </div>
                            </div>
                            <div class="event-footer clearfix">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-univhub pull-left">View Going</a>
                                    <a href="#" class="btn btn-univhub pull-left">View Interested</a>
                                </div>
                            </div>
                        </li>
                    </ul> 
                </div>
                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div> 
        </div>
        </div>
    </div>
    
    <div tabindex="-1" class="modal fade" id="add-event-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pmd-modal-bordered">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h2 class="text-center">Ceating Event</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="add-counselor">
                            <div class="form-group">
                                <label for="event-title" class="control-label">Event Title:</label><br>
                                <input type="text" id="event-title" class="form-control" required placeholder="Title of the Event">
                            </div>
                            <div class="form-group">
                                <label for="event-organizer" class="control-label">Organizer:</label><br>
                                <input type="text" id="event-organizer" class="form-control" required placeholder="Organizer">
                            </div>
                            <div class="form-group pmd-navbar-left">
                                <label class="control-label" for="event-date-time">Event Date and Time</label>
                                <input type="text" class="form-control" data-header-left="true" required id="event-date-time">
                            </div>
                            <div class="form-group">
                                <label for="event_desc" class="control-label">Event Description:</label><br>
                                <textarea id="event_desc" required class="form-control" placeholder="Event Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="event-images" class="control-label">Add Event Images</label>
                                <div id="event-images-preview">
                                </div>
                                <div class="event-images-footer clearfix">
                                    <div class="upload-btn-wrapper pull-right">
                                        <button id="upload-add" type="button"><i class="fa fa-plus"></i></button>
                                        <input type="file" multiple name="file_upload" id="event-images" accept="image/x-png,image/gif,image/jpeg, image/jpg" required/>
                                    </div>
                                </div>
                            </div>
                            <h6>Event Location</h6>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="event-loca-city" class="control-label">City:</label><br>
                                    <input type="text" id="event-loca-city" class="form-control" required placeholder="City">
                                </div>
                                <div class="form-group">
                                    <label for="event-loca-street-1" class="control-label">Street 1:</label><br>
                                    <input type="text" id="event-loca-street-1" class="form-control" required placeholder="Street 1">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="event-loca-venue" class="control-label">Venue:</label><br>
                                    <input type="text" id="event-loca-venue" class="form-control" required placeholder="Venue">
                                </div>
                                <div class="form-group">
                                    <label for="event-loca-street-2" class="control-label">Street 2:</label><br>
                                    <input type="text" id="event-loca-street-2" class="form-control" placeholder="Street 1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="event-map-link" class="control-label">Google Map Link:</label><br>
                                <input type="text" id="event-map-link" class="form-control" required placeholder="Google Map Link">
                            </div>

                            <div class="pmd-modal-action clearfix">
                                <button class="btn btn-submit pull-right" type="submit">Ok</button>
                            </div>
                        </form>
                    </div> 
                    
                </div>
            </div>
        </div>
        