<div class="container-fluid notifications offers">
        
            <div class="row">
                <!-- Page Content Title -->
                <div class="col-md-12">
                    <h1 class="page-content-title">Offers From Univhub To Our Students</h1>	
                </div>		
                <!-- / Page Content Title -->
            </div>
        
            <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="clearfix">
                                <button type="button" class="btn btn-notice pull-right" title="Click to Create Offer" data-target="#create-offer-modal" data-toggle="modal">Create Offer</button >
                            </div>
                            <div class="clearfix">
                                <label for="offers_type" class="pull-left">Offer Type:</label>
                                <select name="offers_type" id="offers_type" class="pull-left form-control notifications_type">
                                    <option value-="Test Classes Discount">Test Classes Discount</option>
                                    <option value-="Scholarship">Scholarship</option>
                                    <option value-="Discount">Discount</option>
                                </select>
                                <div class="pull-right">
                                    <div class="pmd-tabs activities-tab">
                                            <div class="pmd-tab-active-bar"></div>
                                            <ul role="tablist" class="nav nav-tabs">
                                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="today" href="#today-noti">Today</a></li>
                                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="week" href="#week-noti">Week</a></li>
                                                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="month" href="#month-noti">Month</a></li>
                                            </ul>
                                    </div>	
                                </div>	
                            </div>
                            <div class="tab-content notifications-tab-content">
                                <ul role="tabpanel" id="today-noti" class="tab-pane active list-group pmd-list pmd-card-list">
                                    <li class="list-group-item">
                                        <a href="javascript:void(0);">
                                            <div class="media-left">
                                                <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                                            </div>
                                            <div class="media-body">
                                                <h3 class="list-group-item-heading">Ielts Class Starting Soon</h3>
                                                <span class="list-group-item-text">Description: All the Desciption of the offer. All the Desciption of the offer. All the Desciption of the offer. All the Desciption of the offer. All the Desciption of the offer.</span>
                                                <span class="list-group-item-text">Date: 7th June - 5th July</span>
                                                <span class="list-group-item-text">Tutor: Zenish Shrestha (MBA in English)</span>
                                                <span class="list-group-item-text">Location: 7th Floor Charumati Bhawan, Chabahil</span>
                                                <span class="list-group-item-text"><b>Offer Valid Till: 25th June</b></span>
                                            </div>
                                            <div class="media-right">
                                                <div class="dropdown pickup-settings">
                                                <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                                </a>
                                                <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                                                </ul>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul role="tabpanel" id="week-noti" class="tab-pane list-group pmd-list pmd-card-list">
                                </ul>
                                <ul role="tabpanel" id="month-noti" class="tab-pane list-group pmd-list pmd-card-list">
                                </ul>
                            </div>
                        </div>
                </div>   
            </div>
        </div>
        
        <!-- Send Notice Modal -->
        <div tabindex="-1" class="modal fade" id="create-offer-modal" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header pmd-modal-bordered">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h2 class="pmd-card-title-text text-center">Create Offer</h2>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="offer_title" class="control-label">Offer Title:</label><br>
                                <input type="text" required id="offer_title" class="form-control" placeholder="Offer Title">
                            </div> 
                            <div class="form-group">
                                <label for="offer_description" class="control-label">Offer Description:</label><br>
                                <textarea required class="form-control" id="offer_description" placeholder="Description of the offer"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="offer_type" class="control-label">Offer Type:</label>
                                <select name="offer_type" id="offer_type" class="form-control offer_type">
                                    <option value-="Test Classes Discount">Test Classes Discount</option>
                                    <option value-="Scholarship">Scholarship</option>
                                    <option value-="Discount">Discount</option>
                                </select>    
                            </div>
                            <div class="form-group">
                                <label for="offer_class" class="control-label">Class:</label><br>
                                <input type="text" id="offer_class" class="form-control" required placeholder="Class">
                            </div>
                            <div class="form-group">
                                <label for="discount_percentage" class="control-label">Discount Percentage:</label><br>
                                <input type="text" required class="form-control" id="discount_percentage" placeholder="Discount Percentage">
                            </div>
                            <div class="form-group">
                                <label for="offer_university" class="control-label">University:</label><br>
                                <input type="text" id="offer_university" class="form-control" placeholder="University">                             
                            </div>
                            <div class="form-group">
                                <label for="scholarship_percentage" class="control-label">Scholarship Percentage:</label><br>
                                <input type="text" class="form-control" id="scholarship_percentage" placeholder="Scholarship Percentage">
                            </div>
                            <div class="form-group" style="position:relative">
                                <label class="control-label" for="offer_valid_date">Offer Valid Till:</label>
                                <input type="text" class="form-control" id="offer-datepicker" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="offer-images" class="control-label">Add Offer Images</label>
                                <div id="offer-images-preview">
                                </div>
                                <div class="offer-images-footer clearfix">
                                    <div class="upload-btn-wrapper pull-right">
                                        <button id="upload-add" type="button"><i class="fa fa-plus"></i></button>
                                        <input type="file" multiple name="file_upload" id="offer-images" accept="image/x-png,image/gif,image/jpeg, image/jpg" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="pmd-modal-action clearfix">
                                <button class="btn btn-submit pull-right" type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>