<div class="container-fluid payment">
    
        <div class="row">
            <!-- Page Content Title -->
            <div class="col-md-12">
                <h1 class="page-content-title">Payment</h1>	
            </div>		
            <!-- / Page Content Title -->
        </div>
    
        <div class="row">
            <div class="col-md-12">
                    <div class="card">
                        <div class="payment-title clearfix">
                                <div class="pull-left">
                                    <div class="form-group pull-left">
                                        <label for="payment-made" class="pull-left">Country:</label>
                                        <select name="univ-country" id="payment-made" class="pull-left form-control payment-made">
                                            <option value-="All">All</option>
                                            <option value-="USA">USA</option>
                                            <option value-="Australia">Australia</option>
                                        </select>
                                    </div> 
                                    <div class="form-group pull-left">
                                        <label for="payment-status" class="pull-left">Status:</label>
                                        <select name="payment-status" id="payment-status" class="pull-left form-control payment-status">
                                            <option value-="pen">Pending</option>
                                            <option value-="paid">Paid</option>
                                        </select>
                                    </div>      
                                </div> 
                                <div class="pull-right">
                                    <div class="form-group">
                                        <div class="form-group clearfix">
                                            <label for="payment-list-perpage" class="pull-left">Per Page:</label>
                                            <select name="payment-list-perpage" id="payment-list-perpage" class="pull-left form-control payment-list-perpage">
                                                <option value-="25">25</option>
                                                <option value-="25">30</option>
                                                <option value-="25">35</option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>       
                        </div>

                        <div class="clearfix" style="margin-top: 26px;margin-bottom:10px;">
                            <div class="search-lists pull-left"> 
                                <i class="fa fa-search"></i>
                                <input type="text" placeholder="Search Students..." class="form-control search-input">
                            </div>
                            <div class="pull-right">
                                <div class="pmd-tabs activities-tab">
                                    <div class="pmd-tab-active-bar"></div>
                                    <ul role="tablist" class="nav nav-tabs">
                                        <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="today" href="#today-payment">Today</a></li>
                                        <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="week" href="#week-payment">Week</a></li>
                                        <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="month" href="#month-payment">Month</a></li>
                                    </ul>
                                </div>	
                            </div>
                        </div>

                        <div class="tab-content payments-tab-content">
                            <ul role="tabpanel" id="today-payment" class="tab-pane active list-group pmd-list pmd-card-list students-list">
                                <li class="list-group-item clearfix">
                                    <div class="media-left">
                                        <div class="student-progress text-center" data-value="0.7">
                                            <img src="assets/images/user.png" alt="Student" class="student-progress-image">   
                                            <span class="student-progress-percent">70%</span>
                                        </div> 
                                    </div>
                                    <div class="media-body">
                                        <h3 class="list-group-item-heading"><a href="student-profile.html" class="clearfix">Mithai Lal Jadav</a></h3>
                                        <span class="list-group-item-text">Apply For: &nbsp;&nbsp;&nbsp;<img src="assets/images/aus-flag.png" class="country-flag">Australia</span><br>
                                        <span class="list-group-item-text">Program: &nbsp;&nbsp;Bachelor</span><br>
                                        <span class="list-group-item-text">Major:&nbsp;&nbsp;Computer Science</span>	
                                    </div>
                                    <div class="media-right">
                                        <div class="dropdown pickup-settings">
                                        <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                            <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#payment-invoice-modal">Mark as paid</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="payment-details">
                                        <h4>Payment Details</h4>
                                        <ul>
                                            <li><strong>Payment For:</strong><small>TOEFL Class Registration</small></li>
                                            <li><strong>Account Username:</strong><small>ujjwalmainali7@gmail.com</small></li>
                                            <li><strong>Account Password:</strong><small>thisisnotcrazypassword</small></li>
                                            <li><strong>Passport No:</strong><small>0789/374/79654</small></li>
                                            <li><strong>Email:</strong><small>ujjwalmainali7@gmail.com</small> <button class="btn btn-univhub" data-toggle="modal" data-target="#send-mail-modal">Send Mail</button></li>
                                            <li><strong>Phone No:</strong><small>9843078713</small></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <div class="payment-detail-status pull-right">
                                            <div class="pull-left">
                                                <strong>Status:</strong><small>Pending</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item clearfix">
                                    <div class="media-left">
                                        <div class="student-progress text-center" data-value="0.7">
                                            <img src="assets/images/user.png" alt="Student" class="student-progress-image">   
                                            <span class="student-progress-percent">70%</span>
                                        </div> 
                                    </div>
                                    <div class="media-body">
                                        <h3 class="list-group-item-heading"><a href="student-profile.html" class="clearfix">Mithai Lal Jadav</a></h3>
                                        <span class="list-group-item-text">Apply For: &nbsp;&nbsp;&nbsp;<img src="assets/images/aus-flag.png" class="country-flag">Australia</span><br>
                                        <span class="list-group-item-text">Program: &nbsp;&nbsp;Bachelor</span><br>
                                        <span class="list-group-item-text">Major:&nbsp;&nbsp;Computer Science</span>	
                                    </div>
                                    <div class="media-right">
                                        <div class="dropdown pickup-settings">
                                        <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                            <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#payment-invoice-modal">Mark as paid</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                                        </ul>
                                        </div>
                                    </div>
                                    <div class="payment-details">
                                        <h4>Payment Details</h4>
                                        <ul>
                                            <li><strong>Payment For:</strong><small>TOEFL Class Registration</small></li>
                                            <li><strong>Account Username:</strong><small>ujjwalmainali7@gmail.com</small></li>
                                            <li><strong>Account Password:</strong><small>thisisnotcrazypassword</small></li>
                                            <li><strong>Passport No:</strong><small>0789/374/79654</small></li>
                                            <li><strong>Email:</strong><small>ujjwalmainali7@gmail.com</small> <button class="btn btn-univhub" data-toggle="modal" data-target="#send-mail-modal">Send Mail</button></li>
                                            <li><strong>Phone No:</strong><small>9843078713</small></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <div class="payment-detail-status pull-right">
                                            <div class="pull-left">
                                                <strong>Status:</strong><small>Paid</small>
                                            </div>
                                            <div class="pull-left">
                                                <strong>Transaction id:</strong><small>017110356</small>
                                            </div>
                                            <div class="pull-left">
                                                <button class="btn-white" data-toggle="modal" data-target="#view-bill-modal">View Bill</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul role="tabpanel" id="week-payment" class="tab-pane list-group pmd-list pmd-card-list">
                            </ul>
                            <ul role="tabpanel" id="month-payment" class="tab-pane list-group pmd-list pmd-card-list">
                            </ul>
                        </div>

                    </div>
            </div>   
        </div>
    </div>


    <!-- Send Mail Modal -->
<div tabindex="-1" class="modal fade" id="send-mail-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pmd-modal-bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="pmd-card-title-text text-center">Send Mail</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="mail_recipients" class="control-label">Recipients:</label><br>
                            <select required id="mail_recipients" class="form-control">
                                <option value="">Custom</option>
                                <option value="">Custom</option>
                                <option value="">Custom</option>
                            </select>
                        </div> 
                        <div class="mail-receiver-name">
                            <div class="form-group">
                                <label for="mail_receiver_name" class="control-label">Receiver Name:</label><br>
                                <select id="mail_receiver_name" multiple="multiple" required>
                                    <option value="">Lorem Ipsum</option>
                                    <option value="">Lorem Ipsum</option>
                                    <option value="">Lorem Ipsum</option>
                                    <option value="">Lorem Ipsum</option>
                                    <option value="">Lorem Ipsum</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail_topic" class="control-label">Mail Topic:</label><br>
                            <input type="text" id="mail_topic" class="form-control" required placeholder="Mail Topic">
                        </div>
                        <div class="form-group">
                            <label for="mail_message" class="control-label">Message Body:</label><br>
                            <textarea required class="form-control" id="mail_message" placeholder="Message Body"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="mail-attach" class="control-label">Attachments:</label>
                            <div id="mail-attach-preview">
                            </div>
                            <div class="mail-attach-footer clearfix">
                                <div class="upload-btn-wrapper pull-right">
                                    <button id="upload-add" type="button">Add File</button>
                                    <input type="file" multiple name="file_upload" id="mail-attach" required/>
                                </div>
                            </div>
                        </div>
                        <div class="pmd-modal-action clearfix">
                            <button class="btn btn-submit pull-right" type="submit">Ok</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View Bill Modal -->
<div tabindex="-1" class="modal fade" id="view-bill-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pmd-modal-bordered clearfix">
                    <div class="pull-left">
                        <h2>Toefl Date Registration Bill</h2>
                    </div>
                    <div class="pull-right">
                        <button class="btn-pink" type="button" data-toggle="modal" data-target="#payment-invoice-modal">Edit</button>
                    </div>
                </div>
                <div class="modal-body">
                  <ul>
                      <li><strong>Order id:</strong><small>017110489 <span class="noti-message">Email Verification Sent</span></small></li>
                      <li><strong>Order Date:</strong><small>4th Dec, 2017</small></li>
                      <li><strong>Customer Name:</strong><small>Mithai Lal Jadav</small></li>
                      <li><strong>Order Status:</strong><span class="noti-message">Paid</span></li>
                      <li><strong>Service Charge:</strong><small>Rs.1,000</small></li>
                      <li><strong>Registration Charge:</strong><small>Rs.16,750</small></li>
                      <li><strong>Grand Total:</strong><small>Rs.17,950</small></li>
                      <li><strong>Payment Information:</strong><small>Online Payment (Esewa)</small></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Invoice Modal -->
<div tabindex="-1" class="modal fade" id="payment-invoice-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pmd-modal-bordered clearfix">
                    <div class="pull-left">
                        <h2>Toefl Date Registration Payment</h2>
                    </div>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="form-group">
                      <strong>Customer Name:</strong><small>Mithai Lal Jadav</small>
                    </div>
                    <div class="form-group">
                        <label for="payment-made_via" class="control-label">Payment Made Via:</label><br>
                        <select required id="payment-made_via" class="form-control">
                            <option value="">Online Payment</option>
                            <option value="">Online Payment</option>
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="control-label">Amount:</label><br>
                        <input type="number" required class="form-control" id="amount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <label for="service_charge" class="control-label">Service Charge:</label><br>
                        <input type="number" class="form-control" id="service_charge" placeholder="Leave empty for no service charge">
                    </div>
                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Ok</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>