<div class="col-md-12">
    <div class="card">
        <ul class="student-profile-classes">
            <li class="list-group-item">
                    <div class="media-left">
                        <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                    </div>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">TOEFL (7am - 8am)</h3>
                        <span class="list-group-item-text">Date: 7th June - 5th July</span>
                        <span class="list-group-item-text">Tutor: Zenish Shrestha (MBA in English)</span>
                        <span class="list-group-item-text">Location: 7th Floor Charumati Bhawan, Chabahil</span>
                    </div>
                    <div class="media-right">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                        </ul>
                        </div>
                    </div>
                
            </li>
            <li class="list-group-item">
                    <div class="media-left">
                        <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                    </div>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">TOEFL (7am - 8am)</h3>
                        <span class="list-group-item-text">Date: 7th June - 5th July</span>
                        <span class="list-group-item-text">Tutor: Zenish Shrestha (MBA in English)</span>
                        <span class="list-group-item-text">Location: 7th Floor Charumati Bhawan, Chabahil</span>
                    </div>
                    <div class="media-right">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                        </ul>
                        </div>
                    </div>
                
            </li>
            <li class="list-group-item">
                    <div class="media-left">
                        <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                    </div>
                    <div class="media-body">
                        <h3 class="list-group-item-heading">TOEFL (7am - 8am)</h3>
                        <span class="list-group-item-text">Date: 7th June - 5th July</span>
                        <span class="list-group-item-text">Tutor: Zenish Shrestha (MBA in English)</span>
                        <span class="list-group-item-text">Location: 7th Floor Charumati Bhawan, Chabahil</span>
                    </div>
                    <div class="media-right">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Update</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">View Enrolled</a></li>
                        </ul>
                        </div>
                    </div>
                
            </li>
        </ul>
    </div>
</div>