<div class="col-md-12">
    <div class="card">
        <div class="student-profile-uploaded-docs">
            <div class="row uploaded-docs">

                <div class="col-md-3">
                    <div class="pmd-z-depth doc">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Picked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Unpicked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Yesma I dont know</a></li>
                        </ul>
                        </div>
                        <div class="doc-include">
                            <object data="" type=""></object>
                        </div>
                        <div class="doc-details clearfix">
                            <p>SLC Transcript</p>
                            <a href="#" class="pull-right"><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-3">
                    <div class="pmd-z-depth doc">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Picked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Unpicked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Yesma I dont know</a></li>
                        </ul>
                        </div>
                        <div class="doc-include">
                            <object data="" type=""></object>
                        </div>
                        <div class="doc-details clearfix">
                            <p>SLC Transcript</p>
                            <a href="#" class="pull-right"><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-3">
                    <div class="pmd-z-depth doc">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Picked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Unpicked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Yesma I dont know</a></li>
                        </ul>
                        </div>
                        <div class="doc-include">
                            <object data="" type=""></object>
                        </div>
                        <div class="doc-details clearfix">
                            <p>SLC Transcript</p>
                            <a href="#" class="pull-right"><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-3">
                    <div class="pmd-z-depth doc">
                        <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Picked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Mark as Unpicked</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Yesma I dont know</a></li>
                        </ul>
                        </div>
                        <div class="doc-include">
                            <object data="" type=""></object>
                        </div>
                        <div class="doc-details clearfix">
                            <p>SLC Transcript</p>
                            <a href="#" class="pull-right"><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>