<div class="container-fluid students-list"> 
    <div class="row">
        <!-- Page Content Title -->
        <div class="col-md-12">
            <h1 class="page-content-title">Students</h1>	
        </div>		
        <!-- / Page Content Title -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="students-list-title clearfix">
                <div class="pull-left">
                    <div class="form-group pull-left">
                        <label for="student-country" class="pull-left">Country:</label>
                        <select name="student-country" id="student-country" class="pull-left form-control student-country">
                            <option value-="All">All</option>
                            <option value-="USA">USA</option>
                            <option value-="Australia">Australia</option>
                        </select>
                    </div> 
                    <div class="form-group pull-left">
                        <label for="student-status" class="pull-left">Status:</label>
                        <select name="student-status" id="student-status" class="pull-left form-control student-status">
                            <option value-="Visa Processing">Visa Processing</option>
                            <option value-="Visa Granted">Visa Granted</option>
                        </select>
                    </div>      
                </div> 
                <div class="pull-right">
                    <div class="form-group">
                        <div class="form-group clearfix">
                            <label for="student-list-perpage" class="pull-left">Country:</label>
                            <select name="student-list-perpage" id="student-list-perpage" class="pull-left form-control student-list-perpage">
                                <option value-="25">25</option>
                                <option value-="25">30</option>
                                <option value-="25">35</option>
                            </select>
                        </div> 
                    </div>
                </div>       
            </div>
            <div class="search-lists"> 
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Students..." class="form-control search-input">
            </div>
            <div class="list-group pmd-list pmd-card-list">
                <li class="list-group-item">
                    <a href="student-profile.html" class="clearfix">
                        <div class="media-left">
                           <div class="student-progress text-center" data-value="0.2">
                                <img src="assets/images/user.png" alt="Student" class="student-progress-image">   
                                <span class="student-progress-percent">20%</span>
                            </div> 
                        </div>
                        <div class="media-body">
                            <h3 class="list-group-item-heading">Mithai Lal Jadav</h3>
                            <span class="list-group-item-text">Apply For: &nbsp;&nbsp;&nbsp;<img src="assets/images/aus-flag.png" class="country-flag">Australia</span><br>
                            <span class="list-group-item-text">Program: &nbsp;&nbsp;Bachelor</span><br>
                            <span class="list-group-item-text">Major:&nbsp;&nbsp;Computer Science</span>	
                        </div>
                    </a>    
                    <div class="media-right">
                        <div class="dropdown pickup-settings">
                        <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Assign to An Agent</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Chat</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Send Notification</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Block</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                        </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="student-profile.html" class="clearfix">
                        <div class="media-left">
                            <div class="student-progress text-center" data-value="0.7">
                                <img src="assets/images/user.png" alt="Student" class="student-progress-image">   
                                <span class="student-progress-percent">70%</span>
                            </div> 
                        </div>
                        <div class="media-body">
                            <h3 class="list-group-item-heading">Mithai Lal Jadav</h3>
                            <span class="list-group-item-text">Apply For: &nbsp;&nbsp;&nbsp;<img src="assets/images/aus-flag.png" class="country-flag">Australia</span><br>
                            <span class="list-group-item-text">Program: &nbsp;&nbsp;Bachelor</span><br>
                            <span class="list-group-item-text">Major:&nbsp;&nbsp;Computer Science</span>	
                        </div>
                    </a>    
                    <div class="media-right">
                        <div class="dropdown pickup-settings">
                        <a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                            <li><a class="dropdown-item" href="javascript:void(0);">Assign to An Agent</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Chat</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Send Notification</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Block</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                        </ul>
                        </div>
                    </div>
                </li>
            </div>
            <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>
    </div>
</div>
