<div class="col-md-12">
        <div class="card">
            <div class="student-profile-universities">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#applying">Applying</a></li>
                    <li><a data-toggle="tab" href="#offer-letter-received">Offer Letter Received</a></li>
                </ul>
                <div class="tab-content">
                    <div id="applying" class="tab-pane fade in active">
                        <ul class="list-group pmd-list">
                            <li class="list-group-item">
                                <div class="university-title">
                                    <div>
                                        <strong>University of California</strong>
                                        <div class="dropdown pickup-settings gear"><a id="dLabel dropdownMenuBottomRight" class="btn-view" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advertise</a>
                                            <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                                </div>
                                <div class="row clearfix university-details">
                                    <div class="col-md-2">
                                        <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                                    </div>
                                    <div class="col-md-10">
                                        <ul class="university-details-lists">
                                            <li>Views: <strong>13420</strong></li>
                                            <li>No. of Student Enrolled: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>No. of Student Applying: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>Priority: <strong>Normal</strong>
                                                <div class="dropdown pickup-settings gear"><a id="dLabel dropdownMenuBottomRight" class="btn-view advertised" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Set Priority</a>
                                                    <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                                    <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                    </ul>
                                </div>
                                <div class="univ-course-applied clearfix">
                                    <h5>Course Applied here</h5>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="course-view">
                                            <h2 class="course-view-title">Bachelor of Civil Engineering (Honors)</h2>
                                            <ul class="course-view-details">
                                                <li>Study level: Undergraduate</li>
                                                <li>Course Duration: 4 Years</li>
                                                <li>Scholarship: Available</li>
                                                <li>Start Date: 5th March 2018, 2 July 2018</li>
                                                <li>Tuition Fees: $34,000 (Rs 26,00,000) per annum</li>
                                            </ul>
                                            <div class="clearfix">
                                                <button class="btn-univhub">View Detail</button>
                                            </div>
                                            <button class="btn-delete" title="Click to Delete Course"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="university-title">
                                    <div>
                                        <strong>University of California</strong>
                                        <div class="dropdown pickup-settings gear"><a id="dLabel dropdownMenuBottomRight" class="btn-view advertised" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advertise</a>
                                            <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                                </div>
                                <div class="row clearfix university-details">
                                    <div class="col-md-2">
                                        <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                                    </div>
                                    <div class="col-md-10">
                                        <ul class="university-details-lists">
                                            <li>Views: <strong>13420</strong></li>
                                            <li>No. of Student Enrolled: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>No. of Student Applying: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>Priority: <strong>Normal</strong>
                                                <div class="dropdown pickup-settings gear"><a id="dLabel dropdownMenuBottomRight" class="btn-view advertised" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Set Priority</a>
                                                    <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                                        <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                                    <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#start-processing-modal">Start Processing</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#cant-apply-modal">Can't Process</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#offer-letter-modal">Offer Letter</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                    </ul>
                                </div>
                                <div class="univ-course-applied clearfix">
                                    <h5>Course Applied here</h5>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="course-view">
                                            <h2 class="course-view-title">Bachelor of Civil Engineering (Honors)</h2>
                                            <ul class="course-view-details">
                                                <li>Study level: Undergraduate</li>
                                                <li>Course Duration: 4 Years</li>
                                                <li>Scholarship: Available</li>
                                                <li>Start Date: 5th March 2018, 2 July 2018</li>
                                                <li>Tuition Fees: $34,000 (Rs 26,00,000) per annum</li>
                                            </ul>
                                            <div class="clearfix">
                                                <button class="btn-univhub">View Detail</button>
                                            </div>
                                            <button class="btn-delete" title="Click to Delete Course"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="offer-letter-received" class="tab-pane fade">
                        <ul class="list-group pmd-list">
                            <li class="list-group-item">
                                <div class="university-title">
                                    <div>
                                        <strong>University of California</strong><a href="#" class="btn-view">Advertise</a>
                                    </div>
                                    <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                                </div>
                                <div class="row clearfix university-details">
                                    <div class="col-md-2">
                                        <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                                    </div>
                                    <div class="col-md-10">
                                        <ul class="university-details-lists">
                                            <li>Views: <strong>13420</strong></li>
                                            <li>No. of Student Enrolled: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>No. of Student Applying: <strong>34</strong><a href="#" class="btn-view">View all Students</a></li>
                                            <li>Priority: <strong>Normal</strong><a href="#" class="btn-view">Set Priority</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown pickup-settings"><a id="dLabel dropdownMenuBottomRight" class="btn-icon" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                                    <ul class="dropdown-menu pmd-dropdown-menu-top-right" aria-labelledby="dLabel">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Finance</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Enrolled</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix">
                                    <div class="doc">
                                        <div class="doc-object">
                                            <object data="" type=""></object>
                                        </div>
                                        <div class="doc-detail clearfix">
                                            <p>SLC Transcript</p>
                                            <div>
                                                <a href="#"><img src="assets/images/download.svg" alt="Download"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Processing Modal -->
<div tabindex="-1" class="modal fade" id="start-processing-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text text-center">Start Processing</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Course Applying For:</label>
                        <ul class="courses_applying_for">
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                        </ul>                     
                    </div>
                    <div class="form-group">
                        <label for="start-processing_message" class="control-label">Message:</label><br>
                        <textarea required class="form-control" id="start-processing_message" placeholder="Message Description"></textarea>
                    </div>
                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cannt Apply Modal -->
<div tabindex="-1" class="modal fade" id="cant-apply-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text text-center">Can't Apply</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Course where you can't apply:</label>
                        <ul class="courses_applying_for">
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-close"></i></span></li>
                        </ul>                     
                    </div>
                    <div class="form-group">
                        <label for="cant-apply_message" class="control-label">Message:</label><br>
                        <textarea required class="form-control" id="cant-apply_message" placeholder="Message Description"></textarea>
                    </div>
                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Offer letter Modal -->
<div tabindex="-1" class="modal fade" id="offer-letter-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text text-center">Offer Letter Received</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">Offer letter received for subjects:</label>
                        <ul class="courses_offer_letter_received">
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa fa-check"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa"></i></span></li>
                            <li class="clearfix"><strong>Engineering</strong> <span><i class="fa"></i></span></li>
                        </ul>                     
                    </div>
                    <div class="form-group">
                        <label for="offer-letter_message" class="control-label">Congratulation Message:</label><br>
                        <textarea required class="form-control" id="offer-letter_message" placeholder="Congratulation Message"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="mail-attach" class="control-label">Uload offer letter:</label>
                        <div id="mail-attach-preview">
                        </div>
                        <div class="mail-attach-footer clearfix">
                            <div class="upload-btn-wrapper pull-right">
                                <button id="upload-add" type="button">Upload</button>
                                <input type="file" multiple name="file_upload" id="mail-attach" required/>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>