<div class="col-md-12">
        <div class="card">
            <div class="student-profile-notices">
                <ul class="list-group pmd-list pmd-card-list">
                    <li class="list-group-item">
                        <div class="media-left">
                            <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                        </div>
                        <div class="media-body">
                            <h3 class="list-group-item-heading">This is notification title</h3>
                            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                            <span class="list-group-item-sub-text">Sent by: Alpha Beta Consultancy</span>
                            <span class="list-group-item-sub-text">To: Rupesh Kumar Shah</span>
                        </div>
                        <div class="noti-time">12 min ago</div>
                    </li>
                    <li class="list-group-item">
                        <div class="media-left">
                            <img alt="40x40" src="assets/images/avatar-icon-40x40.png">
                        </div>
                        <div class="media-body">
                            <h3 class="list-group-item-heading">This is notification title</h3>
                            <span class="list-group-item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                            <span class="list-group-item-sub-text">Sent by: Alpha Beta Consultancy</span>
                            <span class="list-group-item-sub-text">To: Rupesh Kumar Shah</span>
                        </div>
                        <div class="noti-time">12 min ago</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>