<div class="container-fluid admin-universities"> 
    <div class="row">
        <!-- Page Content Title -->
        <div class="col-md-12">
            <h1 class="page-content-title">Universities</h1>	
        </div>		
        <!-- / Page Content Title -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="admin-univ-title clearfix">
                <div class="pull-left">
                    <div class="form-group pull-left">
                        <label for="univ-country" class="pull-left">Country:</label>
                        <select name="univ-country" id="univ-country" class="pull-left form-control univ-country">
                            <option value-="All">All</option>
                            <option value-="USA">USA</option>
                            <option value-="Australia">Australia</option>
                        </select>
                    </div> 
                    <div class="form-group pull-left">
                        <label for="univ-state" class="pull-left">State:</label>
                        <select name="univ-state" id="univ-state" class="pull-left form-control univ-state">
                            <option value-="LA">Las Angeles</option>
                            <option value-="NY">New York</option>
                        </select>
                    </div>      
                </div> 
                <div class="pull-right">
                    <div class="form-group">
                        <div class="form-group clearfix">
                            <label for="univ-list-perpage" class="pull-left">Per Page:</label>
                            <select name="univ-list-perpage" id="student-list-perpage" class="pull-left form-control univ-list-perpage">
                                <option value-="25">25</option>
                                <option value-="25">30</option>
                                <option value-="25">35</option>
                            </select>
                        </div> 
                    </div>
                </div>       
            </div>
            

            <div class="clearfix" style="margin-top: 26px;margin-bottom:10px;">
                <div class="search-lists pull-left"> 
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search Students..." class="form-control search-input">
                </div>
                <button type="button" class="btn btn-notice pull-right" title="Click to Add Universities" title="Click to Create Class" data-target="#add-univ-modal" data-toggle="modal">Add University</button>
            </div>
          
            <ul class="list-group pmd-list admin-univ-lists">
                <li class="list-group-item">
                    <div class="admin-univ-options">
                        <button class="btn-delete" title="Click to Delete University"><i class="fa fa-trash"></i></button>
                        <button class="btn-edit" title="Click to Edit University"><i class="fa fa-pencil"></i></button>
                    </div>
                    <div class="university-title">
                        <strong>University of California</strong>
                        <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                    </div>
                    <div class="row clearfix university-details">
                        <div class="col-md-2">
                            <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                        </div>
                        <div class="col-md-10">
                            <ul class="university-details-lists">
                                <li>Views: <strong>13420</strong></li>
                                <li>No. of Student Enrolled: <strong>34</strong><a href="javascript;;">View all Students</a></li>
                                <li>Priority: <strong>Normal</strong><a href="javascript;;">Set Priority</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="admin-univ-options">
                        <button class="btn-delete" title="Click to Delete University"><i class="fa fa-trash"></i></button>
                        <button class="btn-edit" title="Click to Edit University"><i class="fa fa-pencil"></i></button>
                    </div>
                    <div class="university-title">
                        <strong>University of California</strong>
                        <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                    </div>
                    <div class="row clearfix university-details">
                        <div class="col-md-2">
                            <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                        </div>
                        <div class="col-md-10">
                            <ul class="university-details-lists">
                                <li>Views: <strong>13420</strong></li>
                                <li>No. of Student Enrolled: <strong>34</strong><a href="javascript;;">View all Students</a></li>
                                <li>Priority: <strong>Normal</strong><a href="javascript;;">Set Priority</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="admin-univ-options">
                        <button class="btn-delete" title="Click to Delete University"><i class="fa fa-trash"></i></button>
                        <button class="btn-edit" title="Click to Edit University"><i class="fa fa-pencil"></i></button>
                    </div>
                    <div class="university-title">
                        <strong>University of California</strong>
                        <img src="assets/images/aus-flag.png" alt=""><small>USA, California</small>
                    </div>
                    <div class="row clearfix university-details">
                        <div class="col-md-2">
                            <div class="university-image text-center"><img src="assets/images/user.png" alt=""></div>
                        </div>
                        <div class="col-md-10">
                            <ul class="university-details-lists">
                                <li>Views: <strong>13420</strong></li>
                                <li>No. of Student Enrolled: <strong>34</strong><a href="javascript;;">View all Students</a></li>
                                <li>Priority: <strong>Normal</strong><a href="javascript;;">Set Priority</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> 
    </div>
    </div>
</div>


<!-- Send Notice Modal -->
<div tabindex="-1" class="modal fade" id="add-univ-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text text-center">Add University</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="add-univ_name" class="control-label">University Name:</label><br>
                        <input type="text" id="add-univ_name" class="form-control" required placeholder="University Name">
                    </div>
                    <div class="form-group">
                        <label for="add-univ-website_link" class="control-label">Webiste Link:</label><br>
                        <input type="text" required class="form-control" id="add-univ-website_link" placeholder="Webiste Link">
                    </div>
                    <div class="form-group">
                        <label for="add-univ-moto_line" class="control-label">Moto Line:</label><br>
                        <input type="text" id="add-univ-moto_line" class="form-control" required placeholder="Moto Line">
                    </div>
                    <div class="form-group clearfix">
                        <label for="registration_no" class="control-label">University Logo:</label><br>
                        <input id="upload-file-selector-univ-logo-name" class="form-control" type="text" readonly>
                        <label for="upload-file-selector-add-univ-logo" class="pull-right">
                            <input id="upload-file-selector-add-univ-logo" type="file" required>
                            <span type="button" class="btn btn-upload">Upload</span>						
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="univ-images" class="control-label">Add University Images</label>
                        <div id="univ-images-preview">
                        </div>
                        <div class="univ-images-footer clearfix">
                            <div class="upload-btn-wrapper pull-right">
                                <button id="upload-add" type="button"><i class="fa fa-plus"></i></button>
                                <input type="file" multiple name="file_upload" id="univ-images" accept="image/x-png,image/gif,image/jpeg, image/jpg" required/>
                            </div>
                        </div>
                    </div>
                    <div class="from-group">
                        <div class="add-univ-addresses clearfix">
                            <h3 class="text-center">Address</h3>
                            <div class="add-univ-address">
                                <div class="clearfix">
                                    <div class="pull-left form-group univ-address-country" style="width:230px;">
                                        <label for="univ-address-country" class="pull-left">Country:</label>
                                        <select id="univ-address-country" class="pull-left form-control" required="">
                                            <option value="" selected>Selct Country</option>
                                            <option value="US">USA</option>
                                            <option value="AUS">Australia</option>
                                        </select>
                                    </div>
                                    <div class="pull-right form-group univ-address-state" style="margin-left:50px;width:230px;">
                                        <label for="univ-address-state" class="pull-left">State:</label>
                                        <select id="univ-address-state" class="pull-left form-control" required="" disabled>
                                            <option value="" selected>Select State</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="form-group pull-left univ-address-street" style="width:230px;">
                                        <label for="univ-address-street" class="control-label">Street:</label>
                                        <input type="text" id="univ-address-street" required="" class="form-control">
                                    </div>
                                    <div class="form-group pull-right univ-address-zip" style="margin-left:50px;width:230px;">
                                        <label for="univ-address-zip" class="control-label">Zip Code:</label>
                                        <input type="text" id="univ-address-zip" required="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-modal-action clearfix">
                        <button class="btn btn-submit pull-right" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>