.docs-required-header{box-shadow: 0 1px 0px rgba(0,0,0,0.16), 0 1px 8px rgba(0,0,0,0.2);padding: 0 30px;}
.docs-required-header-btns{margin-top: 9px;}
.docs-required-header-btns button:last-child{margin-left: 10px;}
.docs-required .nav-tabs{border: none;padding: 0px;padding-top: 10px;}
.docs-required .nav-tabs>li.active>a, .docs-required .nav-tabs>li.active>a:focus, .docs-required .nav-tabs>li.active>a:hover{border: none;border-bottom: 4px solid #1abc9c;background: transparent;}
.docs-required .nav>li{margin-right: 20px;}
.docs-required .nav>li>a:focus, .docs-required .nav>li>a:hover{background: transparent;border-bottom: 4px solid #1abc9c;}
.docs-required .nav-tabs>li>a{border: none;border-bottom: 2px solid transparent;color: #868686;position: relative;padding-right: 30px;}
.docs-required .nav-tabs .badge{padding: 3px 5px;font-size: 10px;font-weight: 400;border-radius: 7px;position: absolute;top: 9px;right: -12px;}
.docs-required .nav-tabs a[href="#all"] .badge{background-color: #6e99f5;}
.docs-required .nav-tabs a[href="#pending"] .badge{background-color:#37444e;}
.docs-required .nav-tabs a[href="#verified"] .badge{background-color: #1abc9c;}
.docs-required .nav-tabs a[href="#unverified"] .badge{background-color: #ff777c;}
.docs-required .tab-content{padding: 30px;}
.docs-required .documents-cat{margin-top: 75px;}
.docs-required .documents-cat:first-child{margin-top: 0px;}
.docs-required h3{color: #707171;font-size: 22px;margin: 0;margin: 40px 0;font-weight: 600;}
.docs-required  .btn-univhub{background: #fff;color: #1abc9c!important;border: 1px solid #1abc9c !important;border: none;border-radius: 25px;padding: 6px 30px;font-weight: 500;font-size: 14px;}
.docs-required  .btn-univhub.pickup-req-btn{padding: 11px 40px;font-size: 15px;}
.docs-required  .btn-univhub:hover{background: #1abc9c;color: #fff!important;}
.clearfix:after{content: '';display: block;clear: both;}
.docs-required .doc{border: 1px solid #ded9d9;padding: 8px;margin-bottom: 30px;}
.docs-required .doc-object{overflow: hidden;border: 1px solid #ded9d9;}
.docs-required .doc-object object{max-width: 100%;height: 135px;}
.docs-required .doc .doc-status img{position: absolute;right: 2px;top: -10px;background: #fff;height: 35px;width: 35px;border-radius: 50%;border:1px solid #ded9d9;padding: 5px;}
.docs-required .doc .doc-detail{padding: 10px 5px;min-height: 47px;padding-top: 15px;}
.docs-required .doc .doc-detail p{margin: 0;color: #868686;font-size: 12px;float: left;width: 70%;white-space: nowrap;margin-top: 3px;}
.docs-required .doc .doc-detail > div{float: right;width: 30%;}
.docs-required .doc-unverified .doc-detail p{width: 60%;white-space:initial;}
.docs-required .doc-unverified .doc-detail > div{width: 40%;}
.docs-required .doc .doc-detail > div a{float: right;}
.docs-required .doc .doc-detail > div img{height: 22px;margin-left:5px;opacity: 0.6;}
.docs-required .doc .doc-detail > div img:last-child{margin-right: 0px;}
