#contain {
    width: 100%;
    border-radius: 10px;
    border-color: #000;
}

#cardbody {
  border-radius: 30px;
  border: 2px solid white;
  background-color: white;
}

#imageone {
  float: left;
  width: 38%;
}

.clearfix:after{content: '';display: block;clear: both;}

#imageone img{
  height:80%;
}

#imagesend {
  width: 100%;
}

#imagesend img{
  height:100%;
  width: 100%;
}

#titleone{
  top:5%;
  width: 60%;
  float: right;
}

#textone{
  font-size: 17px;
}

#topicone{
  top:5%;
  overflow: hidden;
  word-wrap: break-word;
}

#messageone{
  top:25%;
  font-size: 13px;
  overflow: hidden;
}

#bottomone{
    top:80%;
    font-size: 13px;
    color: grey;
    word-wrap: break-word;
  }
