html, body {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}
button:focus, input:focus{outline: 0;box-shadow: none;}
.clearfix:after{content: '';display: block;clear: both;}

#container{height: auto;width: 100%;}

#chat-header {position: fixed;top: 0;width: 100%;background-color: #F1F1F1;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);box-shadow: 2px 5px 5px 0px rgba(216, 216, 216, 1);height:70px;padding: 20px;z-index: 999;}
#chat-header .header-brand{font-size: 20px;color: #868686;float: left;width: 30%;text-align: left;}
#chat-header .header-client-info{color: #868686;float: left;width: 40%;text-align: center;margin-top: -7px;}
#chat-header .header-client-info strong{display: block;font-weight: 700;font-size: 16px;}
#chat-header .header-client-info .last-active{display: inline-block;}
#chat-header .header-client-info .active-now{display: inline-block;}
#chat-header .header-client-info .active-now span{height: 8px;width: 8px;background: #1abc9c;display: inline-block;border-radius: 50%;margin-right: 6px;}
#chat-header .setting-btns{width: 30%;float: right;}
#chat-header .chat-setting{float: right;}
.chat-setting .dropdown-menu{left: auto;right: -25px;border: none;top: 125%;}
.chat-setting .dropdown-submenu .dropdown-menu{left:-160px;right: auto;top:0    px;}
.dropdown-submenu>a:after{display: none !important;}
.dropdown-submenu>a:before {font-family: FontAwesome;content: '\f104';color: #1abc9c;font-size: 20px;margin-right: 10px;position: relative;top: 3px;}
.chat-setting > .dropdown-menu:before{border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #fff;content: '';position: absolute;right: 36px;top: -6px;}
.setting-btns .chat-setting a i{font-size: 22px;color: #1abc9c;background: #fff;height: 35px;width: 35px;border-radius: 50%;text-align: center;line-height: 35px;box-shadow: 0 1px 8px 0 rgba(0,0,0,.02), 0 3px 4px 0 rgba(0,0,0,.1), 0 3px 3px -2px rgba(0,0,0,.01);}
.setting-btns .close-btn{float: right;margin-top: -2px;margin-left: 20px;}
.setting-btns .close-btn img{height: 42px;border-radius: 50%;}
.dropdown-menu>li>a{padding: 3px 10px;font-size: 13px;color: #868686;}
.dropdown-submenu {position: relative;}
.dropdown-submenu>.dropdown-menu {top: 0;left: -100%;margin-top: -6px;margin-left:3px;border-radius: 0px;}
.dropdown-submenu:hover>.dropdown-menu {display: block;}
.dropdown-submenu>a:after {display: block;content: " ";float: right;width: 0;height: 0;border-color: transparent;border-style: solid;border-width: 5px 0 5px 5px;border-left-color: #1abc9c;margin-top: 5px;margin-right: -10px;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left>.dropdown-menu {left: -100%;margin-left: 10px;border-radius: 0px;}
.chat-redirect{padding: 5px;}
.chat-redirect > li{border-bottom: 1px solid #ded9d9;}
.chat-redirect > li:last-child{border: none;}
.chat-redirect > li a img{height: 30px;border-radius: 50%;width: 30px;margin-right: 5px;}
.chat-redirect > li a {font-size: 12px;position: relative;padding: 8px 10px;}
.chat-redirect .active-now{height: 5px;width: 5px;background: #1abc9c;display: inline-block;border-radius: 50%;position: absolute;right: 10px;bottom: 6px;}

.content{margin-top: 70px;}
.users-lists{width: 350px;padding: 15px 5px;background: #f1f1f1;position: fixed;min-height: 100%;transition: left .3s ease;}
.users-lists .users > li img{height: 60px;border-radius: 50%;width: 60px;}
.users-lists form{margin: 10px 0;}
.users-lists form i{font-size: 17px;color: #1abc9c;border: 1px solid #1abc9c;border-radius: 50%;height: 30px;width: 30px;text-align: center;padding-top: 4px;}
.users-lists form input{border: 1px solid #1abc9c;border-radius: 25px;height: 30px;padding: 15px;color: #868686;width: calc(100% - 34px);font-size: 13px;color: #868686;}
.users-lists .users{padding: 0;overflow-y: auto;max-height: 100vh;margin: 15px 0;}
.users-lists .users li{list-style: none;position: relative;padding: 10px;border-bottom: 1px solid #ded9d9;}
.users-lists .users li:hover{background: #ebeaea;}
.users-lists .users li a{display: block;}
.users-lists .user-image{float: left;width: 60px;margin-right: 15px;}
.users-lists .user-info{float: left;width: calc(100% - 75px);margin-top: 10px;}
.users-lists .user-extra{position: absolute;right: 10px;top: 24px;}
.users-lists .user-info strong{display: block;color: #868686;font-weight: 600;font-size: 14px;}
.users-lists .user-info small{display: block;color: #868686;font-size: 11px;}
.users-lists .user-extra .last-active{font-size: 9px;color: #868686;display: block;}
.users-lists .user-extra .active-now{height: 8px;width: 8px;background: #1abc9c;display: inline-block;border-radius: 50%;display: block;margin-top: 10px;margin-left: 30px;}
.users-lists h2{font-size: 17px;color: #868686;font-weight: 700;}

.chat-content{margin-left: 350px;width: calc(100% - 350px);background: #e4e4e4;position: relative;}

#displaymessage{padding: 20px 15px;padding-left: 20px;overflow-y: auto;}

#message{margin-bottom: 10px;position: relative;}

#messageleft{border-radius: 25px;border: 2px solid #fff;background-color: #fff;padding: 6px 20px;min-width: 0%;max-width: 400px;float: left;position: relative;margin-left: 20px;box-shadow: 0 1px 8px 0 rgba(0,0,0,.02), 0 3px 4px 0 rgba(0,0,0,.1), 0 3px 3px -2px rgba(0,0,0,.01);font-size: 13px;}

#messageright{border-radius: 25px;border: 2px solid #1abc9c;padding: 6px 20px;background-color: #1abc9c;font-size: 17px;color: #eee;min-width: 0%;float: right;box-shadow: 0 1px 8px 0 rgba(0,0,0,.02), 0 3px 4px 0 rgba(0,0,0,.1), 0 3px 3px -2px rgba(0,0,0,.01);font-size: 13px;max-width: 400px;}

#rancho-image{position:absolute;top: 12px;left:-28px;height: 20px;width:20px;border-radius: 50%;border: 1px solid #1abc9c;}
#freq-image{position:absolute;top: 40px;left:2px;height: 25px;width:50px;background: #6e99f5;padding: 6px 8px;border-radius: 25px;}
#rancho-listen{position:absolute;top:48px;left:60px;font-size: 9px;white-space: nowrap;color: #868686;}

#chat-footer{position: fixed;right: 0;width: calc(100% - 350px);background: #e4e4e4;bottom: 0;padding: 20px;}
#chat-footer input#chat-input{border-radius: 40px;width:calc(100% - 120px);position: relative;background-color: #fff;font-size: 13px;float: left;height: 45px;padding: 15px;margin-right: 15px;border: none;color: #868686;}
#sendbut {height:40px;width:40px;border-radius: 50%;border: none;font-size: 18px;border: 1px solid #1abc9c;background: transparent;color: #1abc9c;float: left;margin-right: 15px;margin-top: 2px;text-align: center;}
.upload-btn-wrapper{position: relative;overflow: hidden;}
.upload-btn-wrapper input[type=file]{font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;margin-top: 2px;}
.upload-btn-wrapper #upload-add{border: none;height: 40px;width: 40px;background: transparent;border: 1px solid #1abc9c;color: #1abc9c;border-radius: 50%;cursor: pointer;font-size: 18px;}
.message-image img{height: 100px;border-radius: 25px;}
.message-image {padding: 0 !important;}
#sendbut:hover, #upload-add:hover{background: #1abc9c;color: #fff;}

#sendbut.active.focus,
#sendbut.active:focus,
#sendbut.focus,
#sendbut.focus:active,
#sendbut:active:focus,
#sendbut:focus {
outline: 0 !important;
outline-offset: 0  !important;
-webkit-box-shadow: none !important;
box-shadow: none  !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #95989A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #95989A;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #95989A;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #95989A;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #95989A;
}

.side-nav-btn{border: none;background: transparent;color: #1abc9c;font-size: 22px;height: 35px;width: 
35px;text-align: center;border-radius: 50%;position: absolute;left: 5px;top: 10px;display: none;}
@media (max-width:768px){
    .users-lists{left: -100%;z-index: 99;}
    .chat-content{margin: 0;width: 100%;}
    #chat-footer{width: 100%;}
    #chat-header .header-brand{font-size: 15px;padding-left: 25px}
    .side-nav-btn{display: block;}
}
.users-lists.open{left: 0px;}

.suggestion-box{background: transparent;padding: 10px;}
.suggestion-box{color: #868686;}
.suggestion-box strong{display: block;font-size: 13px;margin-bottom: 15px;}
.suggestion-box span{display: inline-block;border: 1px solid #b8b3b3;padding: 6px 12px;border-radius: 25px;cursor: pointer;margin-right: 10px;font-size: 12px;}
.suggestion-box span:last-child{margin-right: 0;margin-bottom: 10px;}