<div id="step2">
    <div class="col-md-4 col-sm-6 gui-trip-news">
        <a href="javascript:;" class="gui-trip-news-single">
            <h4>1914 Translation by H. Rackham</h4>
            <div class="gui-trip-news-single-image"><img src="gui.tip-news.jpg" alt=""></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut pariatur totam libero facilis eos esse necessitatibus ipsum excepturi architecto natus, voluptatem similique corporis laudantium praesentium delectus aliquid! Lorem ipsum dolor.</p>  
            <div class="gui-trip-news-single-lcs text-center clearfix">
                <button class="pull-left gui-trip-news-single-lcs-like"><i class="fa fa-heart-o"></i> <span>123</span></button>
                <button class="gui-trip-news-single-lcs-comment"><i class="fa fa-comments-o"></i> <span>123</span></button>
                <button class="pull-right gui-trip-news-single-lcs-bookmark"><i class="fa fa-bookmark-o"></i></button>
            </div>
        </a>
    </div>
</div>