/* Common CSS (Place this css only once) */
body{background:#fff;}
a:hover{text-decoration: none;}
li{list-style: none;}
.btn-univhub{
    background: #fff;
    border: 1px solid #1abc9c;
    border-radius: 25px;
    padding: 6px 22px;
    color: #1abc9c;
}

.navbar-brand{height: 60px;padding: 15px;padding-bottom:0;padding-top: 9px;border-right: 1px solid #d5d0d0;text-align: center;}
.navbar-brand span{font-size: 7px;color: #1abc9c;font-weight: 600;position: relative;top: -4px;display: block;}
.navbar-brand img{margin-left: 50%;transform: translateX(-50%);}

a.btn-univhub{display: inline-block;}
.btn-univhub:hover,
.btn-univhub:focus{
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}
button:focus{outline: 0 !important;}
::-webkit-scrollbar {
    width: 1.1em;
}
::-webkit-scrollbar-track {
    border: 1px solid #d0d1d2;
    background: rgb(238, 235, 235);
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
  box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
  border-left: 1px solid #d0d1d2;
  border-right: 1px solid #d0d1d2;
}

/* Common CSS */
/* User */
.user{position: relative;top: 8px;margin-left: 50px;}
.user img{height: 30px;}
.user .user-dropdown .user-image{border: 1px solid #1abc9c;border-radius: 50%;height: 30px;width: 30px;cursor: pointer;}
.logged-in .univhub-search-btn{right: 70px !important;}
.user .user-dropdown .dropdown-menu{left: auto;right: 0;top: 124%;border: 1px solid rgba(0,0,0,.15);border-radius: 0px;}
.user .user-dropdown .dropdown-menu>li>a{font-size: 10px;padding: 3px 10px;line-height:30px;font-weight: 600;color: #707171;;border-bottom: 1px solid #e8e8e8;}
.user .user-dropdown .dropdown-menu>li:last-child>a{border-bottom: none;}
/* User */


/* University Pics Carousel */
.univsity-carousel{margin-top: -20px;}
.univsity-carousel .owl-dots{position:absolute;left:0;right:0;bottom:15px;text-align:center}
.univsity-carousel .owl-dot{display:inline-block;padding:5px}
.univsity-carousel .owl-dot span{display:block;width:10px;height:10px;background-color:#fff;border-radius:50%}
.univsity-carousel .owl-dot.active span{opacity:1;background: #1abc9c;}
.univsity-carousel .owl-dots.disabled,.owl-nav.disabled{display:none}
.univsity-carousel .owl-item img{height: 50vh;}
.univsity-carousel .owl-nav .owl-prev, .univsity-carousel .owl-nav .owl-next{color: #fff;position: absolute;top: 50%;font-size: 32px;text-align: center;font-family: FontAwesome;transform: translateY(-50%);font-size: 65px;}
.univsity-carousel .owl-nav .owl-prev:before{content:'\f104';}
.univsity-carousel .owl-nav .owl-prev{left: 30px;}
.univsity-carousel .owl-nav .owl-next:before{content:'\f105';}
.univsity-carousel .owl-nav .owl-next{right: 30px;}
.univsity-carousel .owl-nav .owl-prev:hover, #univsity-details-carousel .owl-nav .owl-next:hover{color: #1abc9c;}
/* University Pics Carousel */

/* Univ name and search */
.univ-details-nav{background: #fff;height: 60px;position: relative;}
.univ-details-nav h2{font-size: 19px;font-weight: 600;margin: 0;line-height: 60px;color: #585858;}
.univ-details-nav .univ-details-search-form{float: right;border: 1px solid #1abc9c;border-radius: 25px;margin-top: 13px;}
.univ-details-nav .univ-details-search-form .univ-details-search-btn{float: left;border:1px solid #1abc9c;border-radius: 50%;height: 26px;width: 26px;color: #1abc9c;background: #fff;margin-top: 4px;margin-right: 8px;}
.univ-details-nav .univ-details-search-form .univ-details-search-btn:focus,
.univ-details-nav .univ-details-search-form .univ-details-search-btn:hover{background: #1abc9c;color: #fff;}
.univ-details-nav .univ-details-search-form input{float:left;width: 300px;border-radius: 25px;padding: 15px;height: 35px;border: none;font-size: 14px;}
.univ-details-nav .univ-details-search-form input:focus{box-shadow: none;outline: 0;}
.univ-details-nav.nav-fixed-top {top: 0;z-index: 100;position: fixed;width: 100%;}
.univ-details-nav-course h2{line-height: initial;margin-top: 9px;}
.univ-details-nav-course small{color: #868686;font-size: 13px;margin-right: 3px;}
.univ-details-nav-course span{color: #83abff;font-size: 13px;}

@media screen and (max-width:768px){
    .univ-details-nav{padding: 0 10px;}
    .univ-details-nav h2{font-size: 15px;}
    .univ-details-nav .univ-details-search-form input{width: 75px;transition: all .3s;}
    .univ-details-nav .univ-details-search-form{position: absolute;top: 14px;right: 10px;margin-top: 0;}
    .univ-details-nav .univ-details-search-form input:focus{width: 300px;}
}
@media screen and (max-width:480px){
    .univ-details-nav .univ-details-search-form{top: -42px;background: #fff;z-index: 99;}
    .univ-details-nav .univ-details-search-form input:focus{width: 250px;}
}
/* Univ name and search */

/* Univ Details */
.univ-details{background: #fff;padding-top: 20px;padding-bottom: 6px;}
.univ-details h3{font-size: 17px;color: #7b7b7b;margin: 0;margin-bottom: 20px;}
.univ-details-lists{padding: 20px 0;padding-bottom: 20px;}
.univ-details-lists strong{display: block;font-size: 15px;margin-bottom: 10px;font-weight: 600;}
.univ-details-lists ul{padding-left: 38px;}
.univ-details-lists ul li:before{content: '-';margin-right: 8px;}
.univ-details-lists ul li{margin-bottom: 3px;color: #7b7b7b;}
.univ-details-touch .btn-univhub{padding: 6px 22px;margin-left: 20px;margin-top: 6px;}
@media screen and (max-width:768px){
    .univ-details{padding: 30px 10px;}
}
@media screen and (max-width:991px){
    .univ-details-lists{border:none;} 
    .univ-details-touch {text-align: center;}
    .univ-details-touch > div{display: inline-block;}   
}    
@media screen and (max-width:991px){
    .univ-details-touch .btn-univhub{margin-bottom: 15px;}
}    
/* Univ Details */

/* Note */
.note{background: #fff;margin-bottom: 30px;}
.note p{font-size: 12px;font-weight: 600;font-style: italic;color: #868686;margin: 0;}
/* Note */



/* univ-more-details */
.univ-more-details{border-bottom: 1px solid #ded9d9;padding-bottom: 30px;margin-bottom: 30px;}
/* univ-more-details */


/* univ-more-more-details */
.univ-more-more-details .test-prep-notice{margin-top: 0;}
.univ-more-more-details{border-bottom: 1px solid #ded9d9;padding-bottom: 30px;margin-bottom: 30px;}
.univ-stats .stat{padding: 20px;border: 1px solid #ded9d9;margin-bottom: 20px;}
.univ-stats .stat:last-child{margin-bottom: 30px;}
.univ-stats .stat span{color: #fff;text-transform: uppercase;font-size: 15px;padding: 13px 40px;font-weight: 600;border-top-right-radius: 20px;border-top-left-radius: 20px;}
.univ-stats .stat h4{margin: 0;margin-bottom: 30px;font-size: 16px;color: #313131;}
.univ-stats .stat span.stat-blue{background: #6e99f5;}
.univ-stats .stat span.stat-red{background: #e99a9a;}
.univ-stats .stat .stat-box{margin-top: 10px;}
.univ-stats .stat .stat-name{background: #fff;font-weight: 600;color: #3d3c3c;padding: 12px;width: 80%;border: 1px solid #ded9d9;}
.univ-stats .stat .stat-score{background: #eceff1;color: #868686;padding: 12px 20px;font-weight: 600;width: 20%;text-align: center;font-size: 16px;}
.univ-stats .univ-more-more-text{font-size: 13px;color: #868686;margin-bottom: 13px;}
/* univ-more-more-details */


/* back to top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    right: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #1abc9c;    
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(26, 188, 156, 1);
}
#return-to-top:hover i {
    color: #fff;
    top: 8px;
}
/* back to top */

/* Univ-details Tabs */
.univ-details-tabs{background: #fff;}
.univ-details-tabs .nav-tabs{border:none;padding: 5px 20px;border-top: 1px solid #e8e8e8;position: fixed;z-index: 99;background: #fff;width: 100%;left: 0;top: 0;}
.univ-details-tabs .nav-tabs>li>a{font-size: 14px;color: #868686;font-weight: 600;padding: 5px;padding-bottom: 2px;}
.univ-details-tabs .nav-tabs>li.active>a, .univ-details-tabs .nav-tabs>li.active>a:focus, .univ-details-tabs .nav-tabs>li.active>a:hover{color: #868686;border-color:transparent;border-bottom: 2px solid #1abc9c;}
.univ-details-tabs .nav > li{padding: 10px;padding-top: 6px;}
.univ-details-tabs.nav > li > a{padding: 6px 10px;border-bottom: 2px solid transparent;}
.univ-details-tabs .nav>li>a:focus, .univ-details-tabs .nav>li>a:hover{border-color:transparent;border-bottom: 2px solid #1abc9c;background: transparent;}
.univ-details-tabs .tab-content p{font-size: 13px;color: #868686;margin-bottom: 13px;}
.univ-details-tabs .tab-content{padding: 20px 0px;margin-top: 55px;}

/* Overview Tab */
.universities-details-ques{padding: 0;}
#univ-details-overview .tab-content .tab-pane > div:first-child{padding-right: 50px;}
.universities-details-ques span{display: block;font-size: 15px;margin-bottom: 10px;font-weight: 600;}
.universities-details-ques .universities-details-text:before{content: '-';margin-right: 8px;}
.universities-details-ques .universities-details-text{margin-bottom: 3px;color: #7b7b7b;padding-left:38px;font-size: 14px;}
.univ-address strong{font-size: 14px;color: #868686;font-weight: 500;display: block;margin: 4px 0;}
.univ-address{margin-top: 10px;}
.univ-address h6{font-size: 15px;margin-bottom: 16px;font-weight: 600;}
.univ-map{height: 230px;overflow: hidden;position: relative;}
.similar-univs > strong{font-size: 22px !important;margin-top: 20px;}
/* Overview Tab */

.test-prep-notice{background: #fff;padding: 15px 10px;border:1px solid #e4e4e4;margin-top: 25px;}
.test-prep-notice strong{display: block;font-size: 17px;color: #868686;}
.test-prep-notice small{color: #868686;margin: 20px 0;display: block;}
.test-prep-notice .btn-univhub{margin: 10px 0;width: 90%;}

/* Courses Tab */
.courses-lists h2{font-size: 19px;font-weight: 600;margin: 0;color: #868686;margin: 30px 0 20px 0;}
#univ-details-courses .univ-course-search-form{float: right;border: 1px solid #1abc9c;border-radius: 25px;margin-top: 12px;}
#univ-details-courses .univ-course-search-form .univ-course-search-btn{float: left;border:1px solid #1abc9c;border-radius: 50%;height: 26px;width: 26px;color: #1abc9c;background: #fff;margin-top: 4px;margin-right: 8px;}
#univ-details-courses .univ-course-search-form .univ-course-search-btn:focus,
#univ-details-courses .univ-course-search-form .univ-course-search-btn:hover{background: #1abc9c;color: #fff;}
#univ-details-courses .univ-course-search-form input{float:left;width: 300px;border-radius: 25px;padding: 15px;height: 35px;border: none;font-size: 14px;}
#univ-details-courses .univ-course-search-form input:focus{box-shadow: none;outline: 0;}
#univ-details-courses .total-courses{float: left;margin: 0;font-size: 16px;font-weight: 600;color: #868686;margin-top: 12px;}
#univ-details-courses .my-course{color: #868686;font-weight: 600;font-size: 13px;float: left;}
#univ-details-courses .btn-small-grey{float: left;border:none;background: #e9e9e9;font-size: 11px;height: 23px;line-height: 23px;border-radius: 25px;padding: 0 11px;margin-left: 15px;margin-top: 6px;color: #868686;}
#univ-details-courses .btn-small-grey:hover,
#univ-details-courses .btn-small-grey:focus{background: #d8cfcf;}
#univ-details-courses .course-view{border:1px solid #ded9d9;margin-bottom: 30px;}
#univ-details-courses .course-view-title{font-size: 15px;color: #585858;font-weight: 600;margin: 0;margin-bottom: 18px;margin-top: 5px;border-bottom:1px solid #ded9d9;padding: 10px;}
/* #univ-details-courses .courses-lists{padding: 40px 0;max-height: 690px;overflow-y: scroll;} */
#univ-details-courses .course-view-details{padding: 10px;padding-left:10px;margin: 0;}
#univ-details-courses .course-view-details li{color: #868686;margin-bottom: 10px;}
#univ-details-courses .course-view-details li strong{font-size: 13px;width: 50%;float: left;font-weight: 600;}
#univ-details-courses .course-view-details li small{font-size: 12px;text-align: right;width: 50%;float: right;font-weight: 600;}
#univ-details-courses .course-view-details li span{font-size: 13px;float: right;background: #e4e4e4;color: #868686;font-weight: 600;padding: 5px 15px;border-radius: 25px;}
#univ-details-courses .course-view-btns{padding: 10px;padding-bottom: 20px;}
#univ-details-courses .btn-univhub{float: right;margin-top:10px;font-size: 11px;padding: 4px 12px;}
#univ-details-courses .course-sort{margin-left: 40px;}
#univ-details-courses .course-sort button{border:none;background: #fff;color: #868686;font-weight: 600;font-size: 13px;}
#univ-details-courses .course-sort button i{margin-left: 15px;color: #1bac9c;font-size: 16px}
#univ-details-courses .course-sort .dropdown-menu{border-radius: 0px;}
#univ-details-courses .course-sort .dropdown-menu a{color: #868686;font-size: 14px;padding: 5px 10px;border-bottom: 1px solid #e6e6e7;}
#univ-details-courses .course-sort .dropdown-menu li:last-child a{border:none;}
@media screen and (max-width:768px){
    #univ-details-courses .univ-course-search-form input{width: 75px;transition: all .3s;}
    #univ-details-courses .univ-course-search-form{position: absolute;top: 0    px;right: 10px;margin-top: 0;}
    #univ-details-courses .univ-course-search-form input:focus{width: 300px;}
}
@media screen and (max-width:480px){
    #univ-details-courses .univ-course-search-form{background: #fff;z-index: 99;}
    #univ-details-coursesv .univ-course-search-form input:focus{width: 250px;}
}
.courses-lists::-webkit-scrollbar-track {
    border-radius: 25px;
}
.courses-lists::-webkit-scrollbar-thumb {
    -webkit-box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 2px 35px -4px rgba(0,0,0,0.75);
}
#apply-course-not-listed .modal-content{border-radius: 0px;}
#apply-course-not-listed .modal-title{text-align: center;font-size: 16px;font-weight: 600;}
#apply-course-not-listed .form-control{width: auto;width: 270px;height: 34px;display: inline-block;padding: 6px 12px;font-size: 14px;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 0px;}
#apply-course-not-listed .form-control:focus{box-shadow: none;border-color: #1abc9c;}
#apply-course-not-listed label{width: 100px;font-weight: 400;margin-bottom: 6px !important;color: #868686;margin-top:5px;margin-right:15px;}
#apply-course-not-listed .modal-dialog{width: 450px;}
#apply-course-not-listed .modal-body{padding: 30px 15px;}
/* Courses Tab */

@media screen and (max-width:768px){
    .univ-details-tabs .nav>li>a{padding: 10px 0;}
    .univ-details-tabs .nav>li{float: none;display: inline-block;}
    .univ-details-tabs .nav-tabs{width:100%;height: 75px;overflow-x: scroll;overflow-y: hidden; white-space:nowrap;}
}
@media screen and (max-width:991px){
    .univ-details{padding-bottom: 0;}
    .univ-details-tabs .nav>li>a{padding: 10px 0;}
    .univ-details-tabs .nav>li{float: none;display: inline-block;}
}
/* Univ-details Tabs */

.tab-content + hr{border-color: #c8bcbc;}

/* Course Details */
.course-detail-title .user{top: 15px;}
.course-detail-title h2{font-size: 19px;font-weight: 600;margin: 0;margin-left: 15px;float: left;line-height: 60px;color: #749df5;}
.course-detail-title {background: #fff;box-shadow: 0 1px 0px rgba(0,0,0,0.16), 0 1px 8px rgba(0,0,0,0.2);}
.course-detail-subtitle .btn-univhub:focus{text-decoration: none;}
.course-detail-subtitle .btn-univhub{margin-top: 0px;margin-right: 10px;display: inline-block;}
.course-detail-subtitle .btn-univhub:last-child{margin-right: 0px;}
.course-detail-subtitle{padding: 20px;padding-bottom: 0;margin: 10px 0;}
.course-detail-subtitle h2{margin: 0;font-size: 19px;font-weight: 600;}
.course-details-contents{padding: 20px 0;}

.course-details-tabs .nav-tabs{border: 1px solid #e4e4e4;}
.course-details-tabs .nav-tabs>li>a{border:none;margin: 0;color: #868686;font-weight: 600;border-radius: 0px;border-left: 3px solid transparent;}
.course-details-tabs .nav-tabs>li>a:hover{border-left: 3px solid transparent;border-left: 3px solid #1abc9c;background: #f2fdf9;}
.course-details-tabs .nav-tabs>li.active>a, .course-details-tabs .nav-tabs>li.active>a:focus, .course-details-tabs .nav-tabs>li.active>a:hover{border:none;background: #eee;border-left: 3px solid #1abc9c;background: #f2fdf9;}

.course-details-help{padding: 15px 10px;margin-top: 25px;border: 1px solid #e4e4e4;}
.course-details-help strong{display: block;font-size: 17px;color: #868686;}
.course-details-help > div{margin-top: 12px;position: relative;}
.course-details-help small{color: #868686;margin-left: 10px;}
.course-details-help img{height: 26px;}
.course-details-help > div span{position: absolute;left: 50%;top: -10px;transform: translateX(-50%);height: 21px;width: 60px;text-align:center;background: #fff;color: #868686;}
.course-details-help .btn-univhub{margin: 10px 0;width: 90%;}

.course-details-tabs .tab-content{padding: 20px;}
#course-details-overview strong{font-size: 16px;display: block;margin-bottom: 8px;}
#course-details-overview p{font-size: 14px;color: #868686;padding-left: 15px;}
#course-details-overview .about-course{margin-top: 30px;min-height: 150px;}
#course-details-overview .about-course:first-child{margin-top: 0px;min-height: auto;}
#course-details-overview .other-offered-universities{margin-top:30px;}
.other-offered-universities > strong{font-size: 16px;display: block;margin-bottom: 30px;margin-top: 55px;}
.univ-card{border:1px solid #ded9d9;position: relative;}
.univ-card .u-bookmark{position: absolute;right: 5px;top: 5px;font-size: 17px;color: #868686;}
.univ-card .u-bookmark[data-bookmark="true"]{color: #ff777c;}
.univ-card .univ-image{padding: 10px;border-bottom:1px solid #ded9d9;padding-bottom: 20px;}
.univ-card .univ-image img{height: 60px;max-width: 100%;}
.univ-card{border:1px solid #ded9d9;margin-bottom: 50px;}
.univ-card-title{margin-bottom: 15px;margin-top: 5px;border-bottom:1px solid #ded9d9;padding: 5px 10px;}
.univ-card-title h2{font-size: 13px;color: #585858;font-weight: 600;margin: 0;color: #76a3ff;}
.univ-card-title small{font-size: 10px;color: #868686;}
.univ-card-title span{color: #5e82c7;font-size: 10px;margin-left: 4px;}
.univ-card-details{padding: 10px;padding-left:10px;margin: 0;}
.univ-card-details li{color: #868686;margin-bottom: 10px;}
.univ-card-details li strong{font-size: 11px;width: 50%;float: left;font-weight: 600;}
.univ-card-details li small{font-size: 11px;text-align: right;width: 50%;float: right;}
.univ-card-details li span{font-size: 11px;float: right;background: #e4e4e4;color: #868686;font-weight: 600;padding: 3px 10px;border-radius: 25px;}
.univ-card-btns{padding: 10px;padding-bottom: 20px;}
.univ-card .btn-univhub{margin-top:10px;font-size: 11px;padding: 4px 12px;}

.course-details-notice{padding: 20px;margin-top: 30px;border: 1px solid #e4e4e4;}
.course-details-notice > strong{display: block;color: #868686;font-size: 13px;margin-bottom: 30px;text-align: center;}
.course-details-notice .btn-univhub{width: 100%;text-align: center;}
#course-details-entry-req .entry_req strong{font-size: 16px;display: block;margin-bottom: 12px;}
#course-details-entry-req .entry_req p{font-size: 14px;color: #868686;padding-left: 15px;}
#course-details-entry-req .entry_req p span{font-size: 13px;float: right;}
#course-details-entry-req .entry_req{margin-top: 30px;}
#course-details-entry-req .entry_req:first-child{margin-top: 0px;}

#course-details-fees-and-exp .course-details-other_expenses strong, #course-details-fees-and-exp .course-details-tutition_fees strong{font-size: 16px;display: block;margin-bottom: 12px;}
#course-details-fees-and-exp table td{color:#868686; }
#course-details-fees-and-exp table td{color:#868686; }
#course-details-fees-and-exp .course-details-other_expenses{margin-top: 30px;}
#course-details-fees-and-exp .course-details-fees-and-exp-note{font-size: 14px;color: #868686;display: block;margin-top: 15px;}

#course-details-scholarship .course-details-scholarship strong{font-size: 16px;display: block;margin-bottom: 25px;}
#course-details-scholarship .course-details-scholarship small{font-size: 15px;display: block;margin-bottom: 12px;color: #868686;font-weight: 600;margin-top: 20px;}
#course-details-scholarship .course-details-scholarship p{font-size: 14px;color: #868686;margin: 15px 0;}
#course-details-scholarship .course-details-scholarship span{font-size: 14px;color: #868686;display: block;font-weight: 600;margin: 5px 0;}
#course-details-scholarship .course-details-scholarship h5{font-size: 15px;color: #868686;font-weight: 600;margin-top: 25px;}

#course-details-career-options strong{font-size: 16px;display: block;margin-bottom: 8px;}
#course-details-career-options p{font-size: 14px;color: #868686;padding-left: 15px;}
#course-details-career-options .about-career{margin-top: 30px;min-height: 150px;}
#course-details-career-options .about-career:first-child{margin-top: 0px;min-height: auto;}
/* Course Details */

/* Messenger */
#message{margin-bottom: 10px;position: relative;}
.message-image img{height: 100px;border-radius: 25px;}
.message-image {padding: 0 !important;}
#messageleft{border-radius: 25px;border: 2px solid #fff;background-color: #fff;padding: 6px 20px;min-width: 0%;max-width: 400px;float: left;position: relative;font-size: 13px;}

#messageright{border-radius: 25px;border: 2px solid #1abc9c;padding: 6px 20px;background-color: #1abc9c;font-size: 17px;color: #eee;min-width: 0%;float: right;box-shadow: 0 1px 8px 0 rgba(0,0,0,.02), 0 3px 4px 0 rgba(0,0,0,.1), 0 3px 3px -2px rgba(0,0,0,.01);font-size: 13px;max-width: 220px;}
.messenger{position: fixed;right: 30px;bottom: 30px;background: url('messenger.png') center no-repeat;background-size: cover;color: #fff;z-index: 1;border-radius: 50%;height: 60px;width: 60px;font-size: 26px;text-align: center;border: none;}
.messenger-box{width: 350px;background: #fff;position: fixed;right: -100%;bottom: 0;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);transition: .3s;z-index: 9999;}
.messenger-box .chat-header{background: #1abc9c;color: #fff;padding: 10px;}
.chat-close-btn{border:none;background: #fff;color: #1abc9c;border-radius: 50%;height: 30px;width: 30px;font-size: 15px;}
.chat-messages{height: 300px;overflow-y: auto;padding: 15px;background: #eee;}
.chat-header strong{font-size: 13px;font-weight: 600;margin-top: 7px;display: inline-block;padding-left: 14px;}
.chat-header small{font-size: 12px;margin-top: 7px;display: inline-block;}
.chat-header button{font-size: 16px;margin-left:20px;display: inline-block;}
.chat-input{border-top: 1px solid #e8e8e8;padding: 10px;}
.chat-input input[type="text"]{float: left;width: 75%;border-radius: 25px;padding: 15px;height: 30px;border:1px solid #e8e8e8;font-size: 14px;}
.chat-input input[type="text"]:focus{box-shadow: none;outline: 0;border-color: #1abc9c;}
.chat-input .chat-input-send-btn{float: right;border:1px solid #1abc9c;border-radius: 50%;height: 30px;width: 30px;color: #1abc9c;background: #fff;}
.chat-input .chat-input-send-btn:hover{background: #1abc9c;color: #fff;}
.chat-messages .message{display: block;font-size: 13px;background: #fff;width: auto;border-radius: 25px;padding: 6px 15px;color: #767070;margin: 10px 0;box-shadow: 0 2px 4px -1px rgba(0,0,0,.3);min-height: 45px; display: flex;align-items: center;justify-content: flex-end;min-width: 50%;max-width: 70%;}
.chat-messages .message-left{float: left;text-align: left;}
.chat-messages .message-right{float: right;background: #1abc9c;color: #fff;text-align: right;}
.message-1{border-top-right-radius: 0px !important;margin-top: -3px !important;}
.chat-contact strong{display: inline-block;}
.chat-contact{border-bottom: 1px solid #e8e8e8;padding: 15px;vertical-align: middle;}
.chat-contact i{color: #55a0d8;font-size: 25px;margin-right: 20px;display: inline-block;vertical-align: middle;}
.upload-btn-wrapper{position: relative;overflow: hidden;float:right;margin: 0 5px;}
.upload-btn-wrapper input[type=file]{font-size: 100px;position: absolute;left: 0;top: 0;opacity: 0;margin-top: 2px;}
.upload-btn-wrapper #upload-add{border: none;height: 30px;width: 30px;background: transparent;border: 1px solid #1abc9c;color: #1abc9c;border-radius: 50%;cursor: pointer;font-size: 18px;}
@media screen and (max-width:480px){
    .messenger-box{width: 100%;}
}
/* Messenger */