.btn-univhub{
    background: #fff;
    border: 1px solid #1abc9c;
    border-radius: 25px;
    padding: 6px 22px;
    color: #1abc9c;
}
.btn-univhub:hover,
.btn-univhub:focus{
    background: #1abc9c;
    border: 1px solid #1abc9c;
    color: #fff;
}
.univ-majors{padding: 20px 0;}
.univ-majors-title{padding: 10px 15px;}
.univ-majors .univ-sort button{border:none;background: #fff;color: #868686;font-weight: 600;font-size: 13px;}
.univ-majors .univ-sort button i{margin-left: 15px;color: #1bac9c;font-size: 16px}
.univ-majors .univ-sort .dropdown-menu{border-radius: 0px;}
.univ-majors .univ-sort .dropdown-menu a{color: #868686;font-size: 14px;padding: 5px 10px;border-bottom: 1px solid #e6e6e7;}
.univ-majors .univ-sort .dropdown-menu li:last-child a{border:none;}

.univ-majors-lists{padding: 30px 0;}

.univ-card{border:1px solid #ded9d9;position: relative;}
.univ-card .u-bookmark{position: absolute;right: 5px;top: 5px;font-size: 17px;color: #868686;}
.univ-card .u-bookmark[data-bookmark="true"]{color: #ff777c;}
.univ-card .univ-image{padding: 10px;border-bottom:1px solid #ded9d9;padding-bottom: 20px;}
.univ-card .univ-image img{height: 60px;max-width: 100%;}
.univ-card{border:1px solid #ded9d9;margin-bottom: 30px;}
.univ-card-title{margin-bottom: 15px;margin-top: 5px;border-bottom:1px solid #ded9d9;padding: 5px 10px;}
.univ-card-title h2{font-size: 13px;color: #585858;font-weight: 600;margin: 0;color: #76a3ff;}
.univ-card-title small{font-size: 10px;color: #868686;}
.univ-card-title span{color: #5e82c7;font-size: 10px;margin-left: 4px;}
.univ-card-details{padding: 10px;padding-left:10px;margin: 0;}
.univ-card-details li{color: #868686;margin-bottom: 10px;list-style: none;}
.univ-card-details li strong{font-size: 11px;width: 50%;float: left;font-weight: 600;}
.univ-card-details li small{font-size: 11px;text-align: right;width: 50%;float: right;}
.univ-card-details li span{font-size: 11px;float: right;background: #e4e4e4;color: #868686;font-weight: 600;padding: 3px 10px;border-radius: 25px;}
.univ-card-btns{padding: 10px;padding-bottom: 20px;}
.univ-card .btn-univhub{margin-top:10px;font-size: 11px;padding: 4px 12px;}